@import "variable.scss";
/* dialog anamation*/
@keyframes sandra-open {
  0% {
    opacity: 0;
    transform: scale3d(1.1, 1.1, 1);
  }
  100% {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}
@keyframes sandra-close {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale3d(0.9, 0.9, 1);
  }
}


/* dialog */
.dialog {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1100;
    right: 0;
    bottom: 0;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    &__overlay {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 1100;
        right: 0;
        bottom: 0;
        position: absolute;
        z-index: 1;
        background-color: rgba(28, 28, 28, 0.7);
        opacity: 0;
        transition: opacity 0.3s;
    }
    &__event {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 1100;
        right: 0;
        bottom: 0;
        position: absolute;
        z-index: 3;
        height: auto;
    }
    &__noscroll {
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        overflow-y: auto;
        display: flex;
        z-index: 2;
        opacity: 0;
    }
    &--open {
        .dialog__overlay {
            opacity: 1;
            pointer-events: auto;
        }
        .dialog__container {
            pointer-events: auto;
            animation-duration: 0.3s;
            animation-fill-mode: forwards;
            animation-name: sandra-open;
        }
        .dialog__noscroll {
            pointer-events: auto;
            opacity: 1;
        }
    }
    &--close {
        .dialog__container {
            animation-duration: 0.3s;
            animation-fill-mode: forwards;
            animation-name: sandra-close;
        }
    }
    &__container {
        width: 100%;
        max-width: 980px;
        min-width: 320px;
        background: #fff;
        border-radius: 20px;
        padding:50px 70px;
        position: relative;
        z-index: 5;
        opacity: 0;
        margin: auto;
    }
    &__title {
        font-size: 24px;
        font-weight: bold;
    }
    &__content {
        position: relative;
    }
    &__close {
        position: absolute;
        right: 30px;
        top: 20px;
        width: 10px;
        height: 10px;
    }
}
.trigger {
	cursor: pointer;
}
