@import "variable.scss";
/* icons sprite container */
.visually-hidden {
    border: 0 ;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute
}

/* icons */
.icon {
    display: block;
    fill: $mainColor;
    &-place {
        width: 13px;
        height: 16px;
    }
    &-phone {
        width: 15px;
        height: 15px;
        transform: rotate(30deg);
    }
    &-user {
        width: 23px;
        height: 23px;
    }
    &-favorite {
        width: 20px;
        height: 20px;
    }
    &-bonus {
        width: 20px;
        height: 20px;
    }
	&-cart {
        width: 23px;
        height: 23px;
	}
	&-bike {
        width: 50px;
        height: 50px;
	}
	&-delivery {
        width: 50px;
        height: 50px;
	}
    &-shop {
        width: 45px;
        height: 45px;
    }
    &-license {
        width: 45px;
        height: 45px;
    }
    &-arrow {
    }
    &-mail {
        width: 36px;
        height: 24px;
        fill:000;
    }
    &-vk {
        width: 24px;
        height: 14px;
    }
    &-fb {
        width: 24px;
        height: 24px;
    }
    &-ok {
        width: 14px;
        height: 24px;
    }
    &-ig {
        width: 20px;
        height: 20px;
    }
    &-search {
        width: 19px;
        height: 19px;
    }
    &-close {
        width: 16px;
        height: 16px;
    }
    &-checked {
        width: 17px;
        height: 17px; 
    }
    &-orders {
        width: 18px;
        height: 18px;
    }
    &-personal {
        width: 20px;
        height: 20px;
    }
    &-profiles {
        width: 20px;
        height: 26px;
    }
    &-exit {
        width: 20px;
        height: 20px;
    }
    &-videocall {
        width: 20px;
        height: 20px;
    }
    &-sale {
        width: 20px;
        height: 20px;
    }
    &-chat {
        width: 20px;
        height: 20px;
    }
    &-filter {
        width: 24px;
        height: 24px;
    }
    &-adress {
        width: 20px;
        height: 30px;
    }
    &-contact-phone {
        width: 20px;
        height: 30px;
    }
    &-contact-email {
        width: 30px;
        height: 20px;
    } 
} 

