/* icons sprite container */
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

/* icons */
.icon {
  display: block;
  fill: #1c1c1c;
}
.icon-place {
  width: 13px;
  height: 16px;
}
.icon-phone {
  width: 15px;
  height: 15px;
  transform: rotate(30deg);
}
.icon-user {
  width: 23px;
  height: 23px;
}
.icon-favorite {
  width: 20px;
  height: 20px;
}
.icon-bonus {
  width: 20px;
  height: 20px;
}
.icon-cart {
  width: 23px;
  height: 23px;
}
.icon-bike {
  width: 50px;
  height: 50px;
}
.icon-delivery {
  width: 50px;
  height: 50px;
}
.icon-shop {
  width: 45px;
  height: 45px;
}
.icon-license {
  width: 45px;
  height: 45px;
}
.icon-mail {
  width: 36px;
  height: 24px;
  fill: 000;
}
.icon-vk {
  width: 24px;
  height: 14px;
}
.icon-fb {
  width: 24px;
  height: 24px;
}
.icon-ok {
  width: 14px;
  height: 24px;
}
.icon-ig {
  width: 20px;
  height: 20px;
}
.icon-search {
  width: 19px;
  height: 19px;
}
.icon-close {
  width: 16px;
  height: 16px;
}
.icon-checked {
  width: 17px;
  height: 17px;
}
.icon-orders {
  width: 18px;
  height: 18px;
}
.icon-personal {
  width: 20px;
  height: 20px;
}
.icon-profiles {
  width: 20px;
  height: 26px;
}
.icon-exit {
  width: 20px;
  height: 20px;
}
.icon-videocall {
  width: 20px;
  height: 20px;
}
.icon-sale {
  width: 20px;
  height: 20px;
}
.icon-chat {
  width: 20px;
  height: 20px;
}
.icon-filter {
  width: 24px;
  height: 24px;
}
.icon-adress {
  width: 20px;
  height: 30px;
}
.icon-contact-phone {
  width: 20px;
  height: 30px;
}
.icon-contact-email {
  width: 30px;
  height: 20px;
}
