/* common */
/* icons sprite container */
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

/* icons */
.icon {
  display: block;
  fill: #2c334c;
}
.icon-place {
  width: 13px;
  height: 16px;
}
.icon-phone {
  width: 15px;
  height: 15px;
  transform: rotate(30deg);
}
.icon-user {
  width: 23px;
  height: 23px;
}
.icon-favorite {
  width: 20px;
  height: 20px;
}
.icon-bonus {
  width: 20px;
  height: 20px;
}
.icon-cart {
  width: 23px;
  height: 23px;
}
.icon-bike {
  width: 50px;
  height: 50px;
}
.icon-delivery {
  width: 50px;
  height: 50px;
}
.icon-shop {
  width: 45px;
  height: 45px;
}
.icon-license {
  width: 45px;
  height: 45px;
}
.icon-mail {
  width: 36px;
  height: 24px;
  fill: 000;
}
.icon-vk {
  width: 24px;
  height: 14px;
}
.icon-fb {
  width: 24px;
  height: 24px;
}
.icon-ok {
  width: 14px;
  height: 24px;
}
.icon-ig {
  width: 20px;
  height: 20px;
}
.icon-search {
  width: 19px;
  height: 19px;
}
.icon-close {
  width: 16px;
  height: 16px;
}
.icon-checked {
  width: 17px;
  height: 17px;
}
.icon-orders {
  width: 18px;
  height: 18px;
}
.icon-personal {
  width: 20px;
  height: 20px;
}
.icon-profiles {
  width: 20px;
  height: 26px;
}
.icon-exit {
  width: 20px;
  height: 20px;
}
.icon-videocall {
  width: 20px;
  height: 20px;
}
.icon-sale {
  width: 20px;
  height: 20px;
}
.icon-chat {
  width: 20px;
  height: 20px;
}
.icon-filter {
  width: 24px;
  height: 24px;
}
.icon-adress {
  width: 20px;
  height: 30px;
}
.icon-contact-phone {
  width: 20px;
  height: 30px;
}
.icon-contact-email {
  width: 30px;
  height: 20px;
}

/* dialog anamation*/
@keyframes sandra-open {
  0% {
    opacity: 0;
    transform: scale3d(1.1, 1.1, 1);
  }
  100% {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}
@keyframes sandra-close {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale3d(0.9, 0.9, 1);
  }
}
/* dialog */
.dialog {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1100;
  right: 0;
  bottom: 0;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}
.dialog__overlay {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1100;
  right: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
  background-color: rgba(28, 28, 28, 0.7);
  opacity: 0;
  transition: opacity 0.3s;
}
.dialog__event {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1100;
  right: 0;
  bottom: 0;
  position: absolute;
  z-index: 3;
  height: auto;
}
.dialog__noscroll {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  display: flex;
  z-index: 2;
  opacity: 0;
}
.dialog--open .dialog__overlay {
  opacity: 1;
  pointer-events: auto;
}
.dialog--open .dialog__container {
  pointer-events: auto;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-name: sandra-open;
}
.dialog--open .dialog__noscroll {
  pointer-events: auto;
  opacity: 1;
}
.dialog--close .dialog__container {
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-name: sandra-close;
}
.dialog__container {
  width: 100%;
  max-width: 980px;
  min-width: 320px;
  background: #fff;
  border-radius: 20px;
  padding: 50px 70px;
  position: relative;
  z-index: 5;
  opacity: 0;
  margin: auto;
}
.dialog__title {
  font-size: 24px;
  font-weight: bold;
}
.dialog__content {
  position: relative;
}
.dialog__close {
  position: absolute;
  right: 30px;
  top: 20px;
  width: 10px;
  height: 10px;
}

.trigger {
  cursor: pointer;
}

/* burger */
.burger {
  width: 19px;
  height: 14px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: absolute;
  top: 22px;
  left: 0px;
  z-index: 20;
  transition: all 0.4s ease-out;
  display: none;
}
.burger.visible .line:nth-child(1) {
  transform: rotate(45deg) translate(2px, 2px);
}
.burger.visible .line:nth-child(2) {
  visibility: hidden;
}
.burger.visible .line:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}
@media only screen and (max-width: 1024px) {
  .burger {
    display: flex;
  }
}

.line {
  transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  height: 1px;
  width: 19px;
  background: #2c334c;
  margin: 2px auto;
}

/* mobileMenuContainer */
.mobileMenuContainer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: #fff;
  width: 100%;
  height: 100%;
  padding: 30px 0px 0px 0px;
  transition: -webkit-transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  overflow-x: hidden;
  overflow-y: auto;
}
.mobileMenuContainer.visible {
  transform: translateX(0%);
}
.mobileMenuContainer .location {
  margin: 12px 30px;
}
.mobileMenuContainer .burger {
  top: 20px;
  left: auto;
  transform: none;
  right: 20px !important;
}

.slider-menu {
  overflow: hidden;
}
.slider-menu__container {
  position: relative;
  top: 0;
  left: 0;
  transition: left .2s;
}
.slider-menu__menu {
  margin: 0;
  padding: 0;
  list-style: none;
}
.slider-menu__menu .slider-menu__menu {
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  opacity: 0;
  transition: opacity .2s;
  visibility: hidden;
}
.slider-menu__menu .slider-menu--active {
  opacity: 1;
  visibility: visible;
}
.slider-menu__item--vertical .slider-menu__back {
  display: none;
}
.slider-menu__item--vertical .slider-menu__menu {
  position: relative;
  top: auto;
  left: auto;
  display: none;
  visibility: visible;
  opacity: 1;
  background-color: rgba(0, 165, 43, 0.05);
  border-color: rgba(0, 165, 43, 0.1);
}
.slider-menu__item--vertical .slider-menu__menu .slider-menu__link {
  color: #00a52b;
  text-transform: none;
  font-weight: 300;
  font-size: 12px;
}
.slider-menu__item--vertical .slider-menu__menu .slider-menu__link:hover {
  color: #fff;
}
.slider-menu__desc {
  display: inline-block;
  font-size: .8em;
  text-transform: none;
  color: #00a52b;
  transition: color .2s;
  margin-left: 5px;
  vertical-align: middle;
  font-weight: normal;
}
.slider-menu__desc::before {
  content: '- ';
}
.slider-menu__item {
  padding: 0px 0px;
}
.slider-menu__item:last-child {
  border-bottom: 0;
}
.slider-menu__item:last-child .slider-menu__link {
  border-bottom: 0;
}
.slider-menu__item_margin {
  margin-top: 20px;
}
.slider-menu__item_header {
  background-color: #fff;
}
.slider-menu__item_header .slider-menu__link {
  padding: 12px 0px;
  display: block;
  margin: 0px 30px;
  font-size: 17px;
  font-weight: bold;
  color: #000;
  border-bottom: none;
  text-transform: uppercase;
}
.slider-menu__item_header .slider-menu__text {
  display: block;
  padding: 12px 0px;
  margin: 0px 30px;
  font-size: 17px;
  font-weight: bold;
  border-bottom: none;
  color: #000;
  position: relative;
  text-transform: uppercase;
}
.slider-menu__link {
  padding: 12px 0px;
  margin: 0px 30px;
  text-decoration: none;
  color: #2c334c;
  position: relative;
  display: block;
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: bold;
  transition: all 0.3s ease-out;
}
.slider-menu__link:hover {
  color: #000;
  text-decoration: none;
}
.slider-menu__link:hover .slider-menu__desc {
  color: #000;
  text-decoration: none;
}
.slider-menu__link:active {
  color: #000;
  text-decoration: none;
}
.slider-menu .slider-menu__link-text {
  display: inline-block;
  position: relative;
}
.slider-menu .slider-menu__link-text_hits::after {
  position: absolute;
  right: -35px;
  top: -7px;
  border-radius: 25px;
  font-size: 9px;
  font-weight: bold;
  border: 1px solid #56b50d;
  content: "HIT";
  padding: 3px 10px;
  background: #fff;
}
.slider-menu .slider-menu__link-text_new::after {
  position: absolute;
  background: #fff;
  right: -35px;
  top: -7px;
  border-radius: 25px;
  font-size: 9px;
  font-weight: bold;
  border: 1px solid #56b50d;
  content: "NEW";
  padding: 3px 10px;
}
.slider-menu__item_headerMain {
  padding: 20px 30px 20px 30px;
  font-size: 18px;
  font-weight: bold;
  background-color: #f6f8fb;
}
.slider-menu__link--active-link {
  background-color: #00a52b;
  color: #000;
}
.slider-menu__link--active-link .slider-menu__desc {
  color: #000;
}
.slider-menu--has-children > .slider-menu__link:before {
  float: right;
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  margin-top: 4px;
  transition: transform .2s, margin-top .2s;
  background: url("../images/arrow.svg") no-repeat;
  transform: rotate(180deg);
}
.slider-menu--has-children > .slider-menu__link:hover:before {
  background-color: #fff;
}
.slider-menu__back {
  color: #00a52b;
  transition: color .2s;
  font-weight: 300;
  padding: 20px 0px;
}
.slider-menu__back .slider-menu__text {
  display: flex;
  align-items: center;
  position: relative;
  width: 14px;
  height: 14px;
  font-size: 14px;
  padding-left: 24px;
  color: #777789;
  text-transform: inherit;
  background: url("../images/arrow.svg") no-repeat;
}
.slider-menu__back:hover .slider-menu__text {
  background-color: #fff;
}
.slider-menu__item_bar .slider-menu__link {
  color: #777789;
  text-transform: inherit;
  font-size: 16px;
  font-weight: normal;
}
.slider-menu__item_margin {
  margin-top: 20px;
}
.slider-menu__link_sale {
  padding: 12px 15px;
  margin: 10px 30px;
  color: #fff;
  height: auto;
  border-radius: 30px;
  background: #56b50d;
  display: flex;
  align-items: center;
  width: 110px;
}
.slider-menu__link_sale:hover {
  color: #fff;
  text-decoration: none;
}
.slider-menu__link_sale:active {
  color: #fff;
  text-decoration: none;
}
.slider-menu__link_sale .icon-sale {
  position: relative;
  top: -1px;
}
.slider-menu .slider-menu__item--vertical.slider-menu--has-children > .slider-menu__link:before {
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  margin-top: 6px;
}
.slider-menu .slider-menu__item--vertical.slider-menu--has-children > .slider-menu__link.slider-menu__link--active-link:before {
  background-color: #fff;
  -ms-transform: rotate(270deg);
  /* IE 9 */
  -webkit-transform: rotate(270deg);
  /* Chrome, Safari, Opera */
  transform: rotate(270deg);
  margin-top: 4px;
}

@-moz-document url-prefix() {
  .slider-menu--has-children > .slider-menu__link:before,
  .slider-menu--has-children > .slider-menu__link:hover:before,
  .slider-menu__item--vertical.slider-menu--has-children > .slider-menu__link.slider-menu__link--active-link:before,
  .slider-menu__back .slider-menu__text {
    background-color: transparent !important;
    background-repeat: no-repeat;
  }

  .slider-menu--has-children > .slider-menu__link:before,
  .slider-menu__back .slider-menu__text {
    background-image: url("../images/arrow.svg");
  }
}
body, html {
  min-height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: "Neo Sans Pro";
  color: #2c334c;
}

body.noscroll {
  overflow: hidden;
}

body.visible {
  overflow: hidden;
}

div {
  -webkit-tap-highlight-color: transparent;
}

svg {
  pointer-events: none;
}

button, input, textarea {
  border: 0;
  outline: 0;
  border-radius: 0;
  transition: all 0.3s ease-out;
  font-family: "Neo Sans Pro";
}

fieldset {
  border: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
  font-weight: 400;
  color: inherit;
}

p {
  line-height: 22px;
  margin-bottom: 15px;
}

a {
  color: inherit;
  text-decoration: none;
}

a:active, a:focus, a:hover {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

*, :after, :before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  background: #97a1aa;
  color: #fff;
}

::-moz-selection {
  background: #97a1aa;
  color: #fff;
}

.preload * {
  transition: none !important;
}

body .limiter {
  max-width: 1640px;
  min-width: 980px;
  padding: 0px 60px;
  margin: auto;
  clear: both;
  transition: all 0.3s ease-out;
}

.ruble {
  font-family: 'Ruble Arial';
  font-size: 18px;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
  padding-bottom: 20px;
}
.list li {
  margin: 0;
  padding: 5px 0px 5px 0px;
  line-height: 20px;
  position: relative;
}
.list li::after {
  position: absolute;
  left: -15px;
  content: "";
  width: 8px;
  height: 3px;
  top: 13px;
  display: block;
  background: #56b50d;
}
.list li::before {
  display: none;
}

/* page */
.page {
  background: #fff;
}
.page__wrapper {
  width: 100%;
  height: 100%;
  min-height: 100%;
}
.page__content {
  overflow: hidden;
  position: relative;
}

/* header */
.header {
  background: #fff;
  position: relative;
}
.header__container {
  position: relative;
  z-index: 100;
}
.header__bar {
  padding: 30px 0px 20px 0px;
}
.header__main {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  padding: 0px 0px 20px 0px;
  position: relative;
  transition: all 0.3s ease-out;
}
.header__search {
  padding: 0px 50px 0px 90px;
  transition: all 0.3s ease-out;
  position: relative;
}
.header__controls {
  display: flex;
  justify-content: flex-end;
  width: 200px;
}
.header__menu {
  position: relative;
  flex-grow: 1;
  z-index: 40;
  display: flex;
  padding: 0px 40px 0px 60px;
}
.header__menu .headerControls {
  align-items: center;
  position: relative;
  top: -5px;
}

/* bar */
.bar {
  display: flex;
  align-items: center;
}
.bar__location {
  width: 200px;
  transition: all 0.3s ease-out;
}
.bar__menu {
  flex-grow: 1;
  display: flex;
  padding: 0px 40px 0px 60px;
  justify-content: space-between;
  transition: all 0.3s ease-out;
}
.bar__content {
  display: flex;
  width: 200px;
  align-items: center;
  justify-content: flex-end;
}
.bar__videocall {
  padding-right: 10px;
}

/* logo */
.logo {
  text-decoration: none;
  position: relative;
  transition: all 0.3s ease-out;
}
.logo__img {
  width: 100%;
  width: 200px;
  transition: all 0.3s ease-out;
}
.logo__text {
  color: #fff;
  position: absolute;
  display: inline-block;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  text-indent: 110%;
  left: 0;
}
.logo__img-white {
  display: none;
  width: 100%;
  width: 300px;
}

/* topMenu */
.topMenu {
  display: flex;
  align-items: center;
}
.topMenu__item {
  padding: 0px 20px 0px 0px;
  transition: all 0.3s ease-out;
}
.topMenu:last-child {
  padding: 0px 0px 0px 0px;
}
.topMenu__link {
  text-decoration: none;
  white-space: nowrap;
  color: #777789;
  transition: all 0.3s ease-out;
}
.topMenu__link:hover {
  color: #2c334c;
}

/* headerSearch */
.headerSearch {
  position: relative;
}

.search {
  position: relative;
}

/* headerControls */
.headerControls {
  display: flex;
  align-items: flex-end;
  text-decoration: none;
  padding: 0px 0px 0px 30px;
}
.headerControls:hover {
  color: #2c334c;
}
.headerControls__profile {
  cursor: pointer;
  position: relative;
}
.headerControls__icon {
  position: relative;
  display: block;
}
.headerControls__iconLabel {
  position: absolute;
  background: #56b50d;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  right: -12px;
  top: -10px;
  font-weight: bold;
  text-align: center;
  font-size: 10px;
  color: #fff;
}
.headerControls__text {
  display: block;
  font-size: 15px;
  padding: 0px 0px 0px 10px;
}
.headerControls__text_cart {
  font-weight: 500;
  font-size: 18px;
  white-space: nowrap;
}
.headerControls__text_cart .ruble {
  font-size: 20px;
  position: relative;
  top: 2px;
}

/* drop */
.drop {
  background: #fff;
  box-shadow: 0 16px 40px 0 rgba(108, 133, 159, 0.24);
  bottom: 0;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  z-index: 100;
  color: #292929;
  border-radius: 5px;
  transform: translateY(103%);
  transition: opacity 0.15s ease-out 0s, transform 0.15s ease-out 0s, -webkit-transform 0.15s ease-out 0s;
}
.drop__close {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 10px;
  height: 10px;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.drop__close:hover {
  transform: rotate(90deg);
}
.drop__close .icon-close {
  width: 10px;
  height: 10px;
}
.drop__content {
  padding: 30px 30px 30px 30px;
}
.drop_profile {
  right: 0px;
  width: 250px;
  cursor: default;
}
.drop_open {
  display: block;
  transform: translateY(100%);
  visibility: visible;
  opacity: 1;
}

/* drop */
.dropProfile__user {
  border-bottom: 1px solid rgba(41, 41, 41, 0.1);
  padding-bottom: 15px;
}
.dropProfile__name {
  font-weight: bold;
  font-size: 18px;
}
.dropProfile__email {
  opacity: 0.5;
  font-size: 14px;
}
.dropProfile__menu {
  padding-top: 10px;
}
.dropProfile__item {
  padding: 5px 0px 5px 0px;
}
.dropProfile__item:last-child {
  padding: 5px 0px 0px 0px;
}
.dropProfile__item_line {
  padding: 10px 0px 0px 0px;
  margin: 0px 0px 10px 0px;
  border-bottom: 1px solid rgba(41, 41, 41, 0.1);
}
.dropProfile__link {
  text-decoration: none;
  color: #292929;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  transition: all 0.3s ease-out;
}
.dropProfile__link:hover {
  color: #56b50d;
}
.dropProfile__link .icon {
  margin-right: 15px;
}

/* close */
.close {
  position: relative;
  border: none;
  display: inline-block;
  width: 16px;
  height: 16px;
  padding: 0;
  margin: 0;
  left: 0;
  top: 0;
  cursor: pointer;
  transition: all 0.2s ease-out;
  background: none;
}
.close:hover {
  transform: rotate(90deg);
}

/* phone */
.phone {
  display: flex;
  align-items: center;
  font-weight: bold;
  text-decoration: none;
  font-size: 22px;
  font-family: "RotondaC";
}
.phone__number {
  padding: 0px 0px 0px 5px;
}
.phone_mobile {
  display: none;
  transition: all 0.3s ease-out;
}

/* menu */
.menu {
  display: flex;
  flex-grow: 1;
  list-style: none;
  justify-content: space-between;
  z-index: 40;
  padding-top: 10px;
}
.menu__item {
  list-style: none;
  padding: 0px 0px 10px 0px;
  margin: 0;
  min-height: 100%;
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu__item:hover .menuSubDrop {
  top: 100%;
  opacity: 1;
  height: auto;
  overflow: visible;
  visibility: visible;
  transition: all 0.3s ease-out;
}
.menu__item:hover .menu__link::before {
  width: 100%;
  bottom: 0px;
  height: 4px;
  display: block;
  background: #56b50d;
  position: absolute;
  content: "";
  left: 0%;
  right: 0%;
}
.menu__item:hover .menu__link_sale::before {
  display: none;
}
.menu__item_active .menu__link::before {
  width: 100%;
  bottom: 0px;
  height: 4px;
  display: block;
  background: #56b50d;
  position: absolute;
  content: "";
  left: 0%;
  right: 0%;
}
.menu__link {
  padding: 0px 0px 5px 0px;
  position: relative;
  display: flex;
  text-transform: uppercase;
  align-items: center;
  text-align: center;
  text-decoration: none;
  height: 100%;
  font-size: 15px;
  letter-spacing: 1px;
  font-weight: bold;
  transition: all 0.3s ease-out;
}
.menu__link:hover {
  color: #2c334c;
}
.menu__link::before {
  width: 0px;
  bottom: 0px;
  height: 4px;
  display: block;
  background: #82d700;
  position: absolute;
  content: "";
  left: 50%;
  right: 50%;
  transition: all 0.4s ease-out;
}
.menu__link-text {
  display: block;
  margin-left: 7px;
}

.menuSubDrop {
  position: absolute;
  z-index: 30;
  left: 0;
  top: calc(100% + 20px);
  right: 0;
  opacity: 0;
  overflow: hidden;
  height: 0;
  visibility: hidden;
  width: 100%;
  background: #fff;
  transition: all 0.3s ease-out;
  box-shadow: 0px 15px 25px 2px rgba(160, 160, 160, 0.1);
}
.menuSubDrop__container {
  display: flex;
  flex-wrap: wrap;
  padding: 40px 60px !important;
}

.menuSub {
  margin: 0;
  padding: 0px 30px 20px 0px;
  width: 25%;
  list-style: none;
}
.menuSub__photo {
  margin: 0;
  padding: 0;
  display: none;
  list-style: none;
}
.menuSub__title {
  margin: 0px 0px 5px 0px;
  padding: 0px 0px 8px 0px;
  list-style: none;
}
.menuSub__item {
  padding: 0px 0px 4px 0px;
}
.menuSub__link {
  font-size: 14px;
  transition: all 0.3s ease-out;
  line-height: 16px;
  display: inline-block;
  position: relative;
}
.menuSub__link:hover {
  color: #56b50d;
}

/* location */
.location {
  display: flex;
  cursor: pointer;
  align-items: center;
}
.location:hover .location__value {
  opacity: 0.8;
}
.location__value {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 3px 10px;
  transition: all 0.3s ease-out;
  display: inline-block;
  color: #777789;
}

/* locationSelect */
.locationSelect__infoText {
  opacity: 0.7;
  padding: 20px 0px;
}
.locationSelect__city {
  padding: 0px 0px 20px 0px;
  font-weight: 900;
  font-size: 22px;
  display: flex;
  align-items: center;
}
.locationSelect__city .icon-checked {
  margin: 0px 0px 0px 10px;
  fill: #2c334c;
}
.locationSelect__regions {
  padding: 30px 0px 0px 0px;
}
.locationSelect__regionWrap {
  display: flex;
  flex-wrap: wrap;
}
.locationSelect__subTitle {
  font-weight: bold;
  padding-bottom: 20px;
}
.locationSelect__region {
  list-style: none;
  padding: 0px 20px 20px 0px;
  margin: 0;
  width: 33.33%;
}
.locationSelect__regionItem {
  padding-bottom: 5px;
}
.locationSelect__regionItem:hover .locationSelect__regionItemText {
  opacity: 1;
}
.locationSelect__regionItemText {
  cursor: pointer;
  opacity: 0.7;
  transition: all 0.3s ease-out;
  position: relative;
  display: inline-block;
}
.locationSelect__regionItemText:hover {
  opacity: 1;
  color: #2c334c;
}
.locationSelect__regionItemText_active {
  color: #2c334c;
  font-weight: bold;
  opacity: 1;
  cursor: default;
}
.locationSelect__regionItemText_active ::before {
  width: 12px;
  height: 12px;
  content: "";
  position: absolute;
  left: -15px;
  top: calc(50% - 6px);
  display: block;
  background: url("data:image/svg+xml;charset=UTF-8,%3csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 45.7 34.1' style='enable-background:new 0 0 45.7 34.1;' xml:space='preserve'%3e%3cstyle type='text/css'%3e .st0%7bfill:%2300A8EE;%7d %3c/style%3e%3cg%3e%3cg%3e%3cpath class='st0' d='M20.7,32.5c-2.1,2.1-5.4,2.1-7.5,0L1.6,20.9c-2.1-2.1-2.1-5.4,0-7.5c2.1-2.1,5.4-2.1,7.5,0l6.9,6.9 c0.5,0.5,1.4,0.5,1.9,0L36.6,1.6c2.1-2.1,5.4-2.1,7.5,0c1,1,1.6,2.3,1.6,3.8s-0.6,2.8-1.6,3.8L20.7,32.5z'/%3e%3c/g%3e%3c/g%3e%3c/svg%3e ") no-repeat 100% 100%;
}

.productButtons {
  padding-top: 30px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  position: relative;
  margin-bottom: 40px;
}
.productButtons .productMyColor {
  margin-right: 50px;
}

.productDescription {
  background: #fff;
  padding: 0px 0px 40px 0px;
}
.productDescription__title {
  font-size: 24px;
  padding-bottom: 10px;
  font-weight: bold;
}
.productDescription__content {
  padding: 0px 0px 0px 0px;
}

.properties {
  margin-bottom: 30px;
  break-inside: avoid-column;
}
.properties__item {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  padding: 5px 0px;
}
.properties__title {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 20px;
}
.properties__name {
  padding: 0 10px 0px 0px;
}
.properties__line {
  height: 1px;
  margin: 0 8px;
  background: linear-gradient(90deg, #dcdcdc 33%, transparent 0) repeat-x bottom;
  background-size: auto;
  background-size: 3px 1px;
  flex-grow: 1;
  display: none;
}
.properties__value {
  width: 50%;
  font-weight: bold;
}

.productProperties {
  background: #fff;
  padding: 0px 0px 30px 0px;
}
.productProperties__title {
  font-size: 40px;
  text-transform: uppercase;
  padding-bottom: 10px;
  border-bottom: 4px solid black;
}
.productProperties__content {
  padding-top: 60px;
  columns: 2;
  column-gap: 30px;
}

.productBuy {
  padding: 15px 30px 15px 30px;
  border: none;
  cursor: pointer;
  color: #fff;
  font-size: 20px;
  background: #672a63;
  transition: all 0.3s ease-out;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(50% - 10px);
  margin-right: 10px;
  border-radius: 5px;
}
.productBuy:hover {
  background: #863d81;
  color: #fff;
}
.productBuy:active {
  background: #4c1648;
  box-shadow: 0px 15px 25px -15px rgba(0, 164, 212, 0);
}
.productBuy:focus {
  outline: 0;
}
.productBuy_added {
  background: #ffa200;
}
.productBuy_added:hover {
  background: #ffcc00;
}
.productBuy_added:active {
  background: #e8b400;
}
.productBuy .icon-cart {
  fill: #fff;
  width: 25px;
  height: 25px;
  margin-right: 10px;
}
@media only screen and (max-width: 480px) {
  .productBuy {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 20px;
  }
}

.productBuyOne {
  padding: 15px 30px 15px 30px;
  border-radius: 5px;
  display: block;
  width: calc(50% - 10px);
  margin-left: 10px;
  cursor: pointer;
  color: #2c334c;
  font-size: 20px;
  border: 1px solid #2c334c;
  transition: all 0.3s ease-out;
  white-space: nowrap;
  background: #fff;
  position: relative;
  text-align: center;
}
.productBuyOne:hover {
  border: 1px solid #3f4a72;
  color: #1b233e;
}
.productBuyOne:active {
  border: 1px solid #1b233e;
  background: #fff;
}
.productBuyOne:focus {
  outline: 0;
}
@media only screen and (max-width: 480px) {
  .productBuyOne {
    width: 100%;
    margin-right: 0px;
  }
}

/* sort */
.sort {
  display: flex;
  flex-grow: 1;
  align-items: center;
  margin-right: 20px;
}
.sort__title {
  padding-right: 7px;
}
.sort__buttons {
  display: flex;
}

.product__container {
  padding: 0px 0px 0px 0px;
}
.product__main {
  padding: 0px 0px 60px 0px;
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-areas: "photo price" "info price";
}
@media only screen and (max-width: 1150px) {
  .product__main {
    grid-template-columns: 55% 45%;
  }
}
@media only screen and (max-width: 1000px) {
  .product__main {
    grid-template-columns: 100%;
    grid-template-areas: "photo" "price" "info";
  }
}
.product .product__main_complect {
  grid-template-areas: "photo price" "complect complect" "info info";
}
@media only screen and (max-width: 1000px) {
  .product .product__main_complect {
    grid-template-columns: 100%;
    grid-template-areas: "photo" "price" "complect" "info";
  }
}
.product .product__main_complect .productPrice {
  padding-bottom: 0;
}
.product__photo {
  position: relative;
  background: #fff;
  border-radius: 0px;
  overflow: hidden;
  margin: 0px 0px 0px 0;
  grid-area: photo;
  margin-bottom: 20px;
}
.product .brandLabel {
  left: 0;
  top: 0;
}
.product .brandLabel .brandLabel__img {
  max-width: 80px;
}
.product__label {
  position: absolute;
  right: 25px;
  top: 0px;
  z-index: 8;
}
.product__label .saleLabel__text {
  font-size: 16px;
  padding: 10px 10px;
}
.product__label .newLabel__text {
  font-size: 16px;
  padding: 10px 10px;
}
@media only screen and (max-width: 1000px) {
  .product__header {
    display: none;
  }
}
.product__title {
  font-size: 26px;
  font-weight: bold;
  padding-bottom: 20px;
  width: 100%;
}
.product__price {
  padding: 30px 0px 0px 80px;
  grid-area: price;
}
@media only screen and (max-width: 1000px) {
  .product__price {
    padding: 20px;
    background: #fff;
    border-radius: 15px;
    margin-bottom: 20px;
  }
}
.product__info {
  background: #fff;
  overflow: hidden;
  grid-area: info;
  border-radius: 10px;
}
.product__reviews {
  background: #fff;
  border-radius: 15px;
  overflow: hidden;
  padding: 40px;
}
.product__raiting {
  display: flex;
  padding-top: 20px;
}
.product__code {
  color: #777789;
}
.product__complect {
  grid-area: complect;
}

.productFavorute {
  cursor: pointer;
  background: none;
  display: flex;
  font-size: 20px;
  text-transform: uppercase;
  align-items: center;
  transition: all 0.3s ease-out;
  position: absolute;
  right: 0px;
  top: 10px;
  z-index: 8;
  display: flex;
  align-items: center;
  justify-content: center;
}
.productFavorute .icon-favorite {
  transition: all 0.3s ease-out;
  width: 34px;
  height: 34px;
}
.productFavorute:hover .icon-favorite {
  fill: #2c334c;
}

/* catalog-hits */
.catalog-similar {
  padding: 45px 0px;
}
.catalog-similar__wrapper {
  position: relative;
}
.catalog-similar__container {
  position: relative;
}
.catalog-similar__content {
  display: flex;
}
.catalog-similar__pagination {
  padding-top: 30px;
  position: relative;
  bottom: inherit !important;
  left: inherit !important;
  transform: none;
  display: none;
}
@media only screen and (max-width: 768px) {
  .catalog-similar__pagination {
    display: flex;
  }
}
@media only screen and (max-width: 768px) {
  .catalog-similar__arrow {
    display: none;
  }
}
.catalog-similar__arrow-left {
  background: #fff;
}
.catalog-similar__arrow-left:active {
  background: #d6d6d6;
}
.catalog-similar__arrow-right {
  background: #fff;
}
.catalog-similar__arrow-right:active {
  background: #d6d6d6;
}

.product-header-mobile {
  display: none;
}
@media only screen and (max-width: 1000px) {
  .product-header-mobile {
    display: block;
  }
}

.productMyColor {
  font-weight: bold;
  font-size: 18px;
  border-bottom: 1px solid #2c334c;
}

.productSku {
  padding-bottom: 20px;
}
.productSku__title {
  padding-bottom: 10px;
  font-size: 16px;
}
.productSku__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}
.productSku__list-item {
  padding: 0px 5px 5px 0px;
  display: block;
}
.productSku__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  color: #777789;
  border: 1px solid #777789;
  overflow: hidden;
  border-radius: 50%;
  cursor: pointer;
  padding: 2px;
}
.productSku__item:hover {
  opacity: 1;
}
.productSku__value {
  display: block;
}
.productSku__img {
  overflow: hidden;
  border-radius: 50%;
}
.productSku__item_cheked {
  opacity: 1;
  border: 2px solid #56b50d;
}
.productSku_size .productSku__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  color: #fff;
  background: #777789;
  border: 1px solid #777789;
  overflow: hidden;
  border-radius: 3px;
  padding: 0px;
}
.productSku_size .productSku__item:hover {
  opacity: 1;
}
.productSku_size .productSku__img {
  overflow: hidden;
  border-radius: 0;
}
.productSku_size .productSku__item_cheked {
  opacity: 1;
  background: #2c334c;
}

.productPrice {
  padding: 40px 0px 40px 0px;
}
@media only screen and (max-width: 1100px) {
  .productPrice {
    padding: 0px 0px 40px 0px;
  }
}
.productPrice .prices {
  padding: 0px 0px 10px 0px;
  align-items: flex-end;
  justify-content: flex-start;
}
.productPrice .price {
  font-size: 28px;
  margin-right: 20px;
  padding-bottom: 0;
}
.productPrice .price .ruble {
  font-size: 28px;
}
.productPrice .price-old {
  font-size: 18px;
  font-weight: normal;
  margin: 0px 0px 0px 0px;
}
.productPrice .price-old .ruble {
  font-size: 18px;
}
.productPrice .price-installment {
  padding: 0;
}

.productReviewsCount {
  padding-left: 20px;
  font-size: 14px;
}

.productReviews {
  /*background: rgba(229,233,236,0.3);*/
  padding: 60px 0px 60px 0px;
}
.productReviews__title {
  font-size: 40px;
  text-transform: uppercase;
  padding-bottom: 40px;
}

.reviews {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
}
.reviews__controls {
  padding-bottom: 40px;
  padding-top: 10px;
}
.reviews__form {
  width: 40%;
  padding-left: 50px;
  padding-bottom: 20px;
}
@media only screen and (max-width: 480px) {
  .reviews__form {
    width: 100%;
    padding-left: 0px;
    padding-bottom: 20px;
  }
  .reviews__form .form__label_big {
    display: none;
  }
}
.reviews__content {
  width: 60%;
}
@media only screen and (max-width: 480px) {
  .reviews__content {
    width: 100%;
  }
}
.reviews__title {
  font-size: 40px;
  text-transform: uppercase;
  padding-bottom: 40px;
}

.reviewItem {
  margin-bottom: 30px;
  padding: 30px 0px 15px 0px;
  line-height: 20px;
  max-width: 1000px;
}
.reviewItem:nth-child(even) {
  background: #fff;
}
.reviewItem__raiting {
  padding-bottom: 15px;
  display: flex;
}
.reviewItem__text {
  padding-bottom: 15px;
}
.reviewItem__descript {
  padding-bottom: 15px;
}
.reviewItem__subTitle {
  padding-bottom: 10px;
  font-weight: bold;
}
.reviewItem__autor {
  color: #607286;
  display: flex;
}
.reviewItem__autorName {
  padding-right: 30px;
}

.noreviews {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-height: 600px;
  max-width: 1000px;
  border: 6px dashed #56b50d;
}
.noreviews__icon {
  padding-bottom: 50px;
}
.noreviews__title {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 20px;
}
.noreviews__subtitle {
  font-size: 28px;
  font-weight: bold;
  text-transform: uppercase;
}

/* tags */
.tags {
  margin-bottom: 0px;
}
@media only screen and (max-width: 768px) {
  .tags {
    margin-bottom: 0px;
  }
}
.tags__title {
  font-weight: bold;
  padding-bottom: 30px;
  font-size: 26px;
}
.tags_product {
  padding-bottom: 30px !important;
}
.tags__content {
  display: flex;
  justify-content: center;
  padding: 0px 0px 60px 0px;
}

/* tags-list */
.tags-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}
@media only screen and (max-width: 1024px) {
  .tags-list {
    flex-wrap: nowrap;
  }
}
.tags-list__item {
  margin: 0px 10px 10px 0px;
  width: auto !important;
}
.tags-list__link {
  font-size: 16px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 15px 25px;
  border-radius: 5px;
  border: 1px solid #c4c4c4;
  background: white;
  transition: all 0.3s ease-out;
}
.tags-list__link:hover {
  padding: 15px 25px;
}
@media only screen and (max-width: 768px) {
  .tags-list__link:hover {
    padding: 15px 15px;
  }
}
@media only screen and (max-width: 768px) {
  .tags-list__link {
    padding: 15px 15px;
    font-size: 15px;
  }
}
.tags-list__link_active {
  border: 1px solid #56b50d;
}
.tags-list__link_active:hover {
  border: 1px solid #56b50d;
}

/* slider */
.slider {
  position: relative;
  z-index: 2;
  transition: all 0.3s ease-out;
  margin-bottom: 60px;
}
.slider__content {
  border-radius: 15px;
  overflow: hidden;
  margin-bottom: 40px;
}
.slider__container {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  visibility: inherit;
}
.slider__container.limiter {
  max-width: 1920px;
  min-width: 980px;
  padding: 0px 0px;
}
.slider__main {
  position: relative;
}
.slider__item {
  width: 100%;
  height: 100%;
}
.slider__photo {
  width: 100%;
  height: 100%;
}
.slider__img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.slider__img_mobile {
  display: none !important;
}
.slider__controls {
  position: absolute;
  width: 100%;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  font-size: 14px;
  flex-grow: 1;
  overflow: hidden;
  flex-wrap: nowrap;
  border-radius: 0px 0px 10px 10px;
}
.slider__controlsItem {
  position: relative;
  z-index: 0;
  cursor: pointer;
  font-size: 10px;
  color: #fff;
  background: none;
}
.slider__controlsItem.active {
  z-index: 10;
  cursor: default;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}
.slider__controlsItem button {
  background: none;
  color: #fff;
  cursor: pointer;
  font-size: 10px;
  padding: 15px 15px;
}
.slider__arrow {
  padding: 0px 20px;
  position: absolute;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  bottom: 0px;
  left: auto;
  right: auto;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);
}
.slider__arrow-left {
  position: relative;
  width: 65px;
  height: 65px;
  background: #f7f7f7;
  cursor: pointer;
}
.slider__arrow-left:active {
  background: #d6d6d6;
}
.slider__arrow-left::before {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  content: "";
  width: 16px;
  height: 16px;
  background: url("data:image/svg+xml;charset=UTF-8,%3c?xml version='1.0' encoding='iso-8859-1'?%3e%3c!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3e%3csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 443.52 443.52' style='enable-background:new 0 0 443.52 443.52;' xml:space='preserve'%3e%3cpath d='M143.492,221.863L336.226,29.129c6.663-6.664,6.663-17.468,0-24.132c-6.665-6.662-17.468-6.662-24.132,0l-204.8,204.8 c-6.662,6.664-6.662,17.468,0,24.132l204.8,204.8c6.78,6.548,17.584,6.36,24.132-0.42c6.387-6.614,6.387-17.099,0-23.712 L143.492,221.863z'/%3e%3c/svg%3e ") no-repeat 100% 100%;
}
.slider__arrow-right {
  position: relative;
  width: 65px;
  height: 65px;
  background: #f7f7f7;
  cursor: pointer;
}
.slider__arrow-right:active {
  background: #d6d6d6;
}
.slider__arrow-right::before {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(180deg);
  content: "";
  width: 16px;
  height: 16px;
  background: url("data:image/svg+xml;charset=UTF-8,%3c?xml version='1.0' encoding='iso-8859-1'?%3e%3c!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3e%3csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 443.52 443.52' style='enable-background:new 0 0 443.52 443.52;' xml:space='preserve'%3e%3cpath d='M143.492,221.863L336.226,29.129c6.663-6.664,6.663-17.468,0-24.132c-6.665-6.662-17.468-6.662-24.132,0l-204.8,204.8 c-6.662,6.664-6.662,17.468,0,24.132l204.8,204.8c6.78,6.548,17.584,6.36,24.132-0.42c6.387-6.614,6.387-17.099,0-23.712 L143.492,221.863z'/%3e%3c/svg%3e ") no-repeat 100% 100%;
}
.slider__arrow-right::after {
  display: block;
  position: absolute;
  left: 0;
  width: 1px;
  height: 40px;
  top: 50%;
  transform: translate(-50%, -50%);
  content: "";
  background: #e2e2e2;
}
.slider__pagination, .catalog-similar__pagination, .instagram__pagination {
  position: absolute;
  width: 100%;
  min-height: 50px;
  left: 50% !important;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  font-size: 14px;
  flex-grow: 1;
  z-index: 2;
  flex-wrap: nowrap;
  border-radius: 50%;
}
.slider__pagination .swiper-pagination-bullet, .catalog-similar__pagination .swiper-pagination-bullet, .instagram__pagination .swiper-pagination-bullet {
  position: relative;
  display: block;
  z-index: 0;
  cursor: pointer;
  background: rgba(41, 41, 41, 0.5);
  width: 15px;
  height: 15px;
  opacity: 1;
  border-radius: 50%;
  margin: 0px 6px !important;
}
.slider__pagination .swiper-pagination-bullet-active, .catalog-similar__pagination .swiper-pagination-bullet-active, .instagram__pagination .swiper-pagination-bullet-active {
  z-index: 10;
  cursor: default;
  background: #7cc627;
  border-radius: 50%;
}
.slider__pagination .swiper-pagination-bullet-active::after, .catalog-similar__pagination .swiper-pagination-bullet-active::after, .instagram__pagination .swiper-pagination-bullet-active::after {
  z-index: 10;
  position: absolute;
  content: "";
  background: rgba(124, 198, 39, 0.5);
  border-radius: 50%;
  left: -3px;
  top: -3px;
  right: -3px;
  bottom: -3px;
}
.slider_small {
  margin-bottom: 0px;
}

/* headers */
.headers {
  padding: 20px 0px 20px 0px;
}

/* breadcrumbs */
.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 40px;
}
@media only screen and (max-width: 500px) {
  .breadcrumbs {
    padding-left: 20px;
  }
}
.breadcrumbs__item {
  position: relative;
  padding-right: 30px;
}
@media only screen and (max-width: 500px) {
  .breadcrumbs__item {
    display: none;
  }
}
.breadcrumbs__item::before {
  position: absolute;
  right: 10px;
  top: 0;
  content: "\2013";
  display: block;
  opacity: 0.5;
}
@media only screen and (max-width: 500px) {
  .breadcrumbs__item::before {
    content: "";
    display: block;
    width: 12px;
    transition: all 0.3s ease-out;
    height: 12px;
    left: -20px;
    position: absolute;
    top: calc(50% - 6px);
    background: url("data:image/svg+xml;charset=UTF-8,%3csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 512 512' style='enable-background:new 0 0 512 512;' xml:space='preserve'%3e%3cstyle type='text/css'%3e .st0%7bfill:%23252525;%7d %3c/style%3e%3ctitle%3eArrow%3c/title%3e%3cpath class='st0' d='M120.6,230.6L340.7,10.5c14-14,36.7-14,50.7,0s14,36.7,0,50.7L196.6,256l194.8,194.8c14,14,14,36.7,0,50.7 c-14,14-36.7,14-50.7,0L120.6,281.3C106.6,267.3,106.6,244.7,120.6,230.6L120.6,230.6z'/%3e%3c/svg%3e") no-repeat scroll 100% 100%;
  }
}
.breadcrumbs__item:last-child::before {
  display: none;
}
@media only screen and (max-width: 500px) {
  .breadcrumbs__item:nth-last-child(2) {
    display: block;
  }
}
.breadcrumbs__link {
  text-decoration: none;
  color: #292929;
  opacity: 0.5;
  transition: all 0.3s ease-out;
}
.breadcrumbs__link__link:hover {
  opacity: 1;
}

/* form */
.form__row {
  padding: 0px 0px 25px 0px;
}
.form__row_ar {
  text-align: right;
}
.form__row_ac {
  text-align: center;
}
.form__row_sb {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.form__row_controls {
  padding-bottom: 0;
}
.form_subscription {
  display: flex;
  align-items: center;
}
.form_consultation {
  display: flex;
  width: 100%;
  align-items: center;
}
.form_consultation .input {
  margin-right: 10px;
}
.form_consultation .input_phone {
  flex-grow: 1;
}
.form__label_reviews {
  font-size: 40px;
  text-transform: uppercase;
  padding-bottom: 40px;
}
.form__label_big {
  font-weight: bold;
  font-size: 24px;
  position: relative;
  top: -38px;
}

/* input */
.input {
  display: inline-block;
  background: #fff;
  font-size: 18px;
  border: 1px solid #d2d2d2;
  padding: 14px 20px;
  transition: all 0.3s ease-out;
  border-radius: 10px;
}
.input_big {
  display: block;
  width: 100%;
}
.input_midle {
  display: block;
  width: 48%;
}
.input:active {
  outline: none;
  border: none;
}
.input:focus {
  outline: none;
  background: #fff;
  border: 1px solid #56b50d;
}
.input_headerSearch {
  width: 100%;
  display: block;
  font-size: 16px;
  padding: 15px 20px 15px 50px;
  background: #f9f9f9;
  border: 2px solid #f9f9f9;
  border-radius: 25px;
}
.input_headerSearch:focus {
  border: 2px solid #56b50d;
}
.input_search {
  width: 100%;
  display: block;
  font-size: 16px;
  padding: 15px 20px 15px 50px;
  background: #f9f9f9;
  border: 2px solid #f9f9f9;
  border-radius: 25px;
}
.input_search:focus {
  border: 2px solid #56b50d;
}
.input_subscription {
  padding: 18px 60px 18px 20px;
  border-radius: 30px;
  width: 100%;
  display: block;
  background: #f9f9f9;
  border: 2px solid #f9f9f9;
  font-size: 16px;
  transition: all 0.3s ease-out;
}
.input_subscription:focus {
  border: 2px solid #56b50d;
}

.textarea {
  display: inline-block;
  background: #fff;
  font-size: 18px;
  border: 1px solid #d2d2d2;
  padding: 14px 20px;
  transition: all 0.3s ease-out;
  border-radius: 10px;
}
.textarea_big {
  display: block;
  width: 100%;
}
.textarea_midle {
  display: block;
  width: 48%;
}
.textarea:active {
  outline: none;
  border: none;
}
.textarea:focus {
  outline: none;
  background: #fff;
  border: 1px solid #56b50d;
}

.select-box {
  position: relative;
  display: block;
  width: 100%;
  margin: 0 auto;
  background: #fff;
  border-radius: 10px;
  display: inline-block;
  font-size: 16px;
  outline: none;
  transition: all 0.3s ease-out;
}
.select-box__current {
  position: relative;
  cursor: pointer;
  outline: none;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
}
.select-box__current:focus + .select-box__list {
  opacity: 1;
  animation-name: none;
}
.select-box__current:focus + .select-box__list .select-box__option {
  cursor: pointer;
}
.select-box__current:focus .select-box__icon {
  transform: translateY(-50%) rotate(90deg);
}
.select-box__icon {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%) rotate(-90deg);
  width: 12px;
  transition: 0.2s ease;
}
.select-box__value {
  display: flex;
}
.select-box__input {
  display: none;
}
.select-box__input:checked + .select-box__input-text {
  display: block;
}
.select-box__input-text {
  display: none;
  font-size: 16px;
  width: 100%;
  margin: 0;
  padding: 15px 35px 15px 15px;
}
@media only screen and (max-width: 500px) {
  .select-box__input-text {
    font-size: 12px;
  }
}
.select-box__input-text-item {
  display: inline-block;
  position: relative;
  padding-right: 20px;
}
.select-box__input-text-item::first-letter {
  text-transform: uppercase;
}
.select-box__option-text-item {
  display: inline-block;
  position: relative;
  padding-right: 20px;
}
.select-box__input-text-asc .select-box__input-text-item::before {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  top: 8px;
  width: 12px;
  height: 12px;
  transform: scale(-1, 1) rotate(180deg);
  background: url("data:image/svg+xml;charset=UTF-8,%3csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 459 286' style='enable-background:new 0 0 459 286;' xml:space='preserve'%3e%3cg%3e%3cg id='sort'%3e%3cpath d='M0,286h153v-51H0V286z M0,0v51h459V0H0z M0,168.5h306v-51H0V168.5z'/%3e%3c/g%3e%3c/g%3e%3c/svg%3e ") no-repeat 100% 100%;
}
.select-box__input-text-desc .select-box__input-text-item::before {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  top: calc(50% - 9px);
  width: 12px;
  height: 12px;
  background: url("data:image/svg+xml;charset=UTF-8,%3csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 459 286' style='enable-background:new 0 0 459 286;' xml:space='preserve'%3e%3cg%3e%3cg id='sort'%3e%3cpath d='M0,286h153v-51H0V286z M0,0v51h459V0H0z M0,168.5h306v-51H0V168.5z'/%3e%3c/g%3e%3c/g%3e%3c/svg%3e ") no-repeat 100% 100%;
}
.select-box__option-asc .select-box__option-text-item::before {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  top: 8px;
  width: 12px;
  height: 12px;
  transform: scale(-1, 1) rotate(180deg);
  background: url("data:image/svg+xml;charset=UTF-8,%3csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 459 286' style='enable-background:new 0 0 459 286;' xml:space='preserve'%3e%3cg%3e%3cg id='sort'%3e%3cpath d='M0,286h153v-51H0V286z M0,0v51h459V0H0z M0,168.5h306v-51H0V168.5z'/%3e%3c/g%3e%3c/g%3e%3c/svg%3e ") no-repeat 100% 100%;
}
.select-box__option-desc .select-box__option-text-item::before {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  top: calc(50% - 9px);
  width: 12px;
  height: 12px;
  background: url("data:image/svg+xml;charset=UTF-8,%3csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 459 286' style='enable-background:new 0 0 459 286;' xml:space='preserve'%3e%3cg%3e%3cg id='sort'%3e%3cpath d='M0,286h153v-51H0V286z M0,0v51h459V0H0z M0,168.5h306v-51H0V168.5z'/%3e%3c/g%3e%3c/g%3e%3c/svg%3e ") no-repeat 100% 100%;
}
.select-box__list {
  position: absolute;
  width: 100%;
  left: 0px;
  top: calc(100% - 5px);
  padding: 0;
  list-style: none;
  opacity: 0;
  animation-name: HideList;
  animation-duration: 0.5s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: step-start;
  box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
  z-index: 10;
  border: 1px solid #c4c4c4;
  border-top: none;
}
.select-box__option {
  display: block;
  font-size: 14px;
  padding: 6px 15px;
  background-color: #fff;
  transition: all 0.3s ease-out;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 0;
}
.select-box__option:hover {
  color: #56b50d;
}
.select-box__option:focus {
  color: #56b50d;
}
.select-box_pages {
  min-width: 70px;
}

.smartfilter {
  padding-bottom: 15px;
  margin-top: 40px;
}
@media only screen and (max-width: 768px) {
  .smartfilter {
    margin-top: 20px;
  }
}
@media only screen and (max-width: 768px) {
  .smartfilter__content {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1000;
    background: #fff;
    width: 100%;
    max-width: 100%;
    height: 100%;
    transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
    transform: translateX(-100%);
    overflow-x: hidden;
    overflow-y: auto;
    padding: 20px;
    background: #f7f7f7;
  }
}
.smartfilter__content.visible {
  transform: translateX(0%);
}
.smartfilter__title {
  display: none;
  font-weight: bold;
  font-size: 22px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  background: #fff;
  padding: 20px 30px;
  box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
}
@media only screen and (max-width: 768px) {
  .smartfilter__title {
    display: block;
  }
}
.smartfilter__row {
  display: flex;
  margin-right: -10px;
  flex-wrap: wrap;
}
@media only screen and (max-width: 768px) {
  .smartfilter__row {
    width: 100%;
    padding-top: 80px;
    display: block;
    margin-right: 0;
    height: 100%;
    overflow-y: auto;
  }
}
.smartfilter__row .select-box {
  margin: 0px 10px 10px 0px;
  width: calc(20% - 10px);
  min-width: 200px;
}
@media only screen and (max-width: 1100px) {
  .smartfilter__row .select-box {
    width: calc(25% - 10px);
  }
}
@media only screen and (max-width: 768px) {
  .smartfilter__row .select-box {
    width: 100%;
    margin-right: 0;
  }
}
.smartfilter__row .smartfilter-select {
  margin: 0px 10px 10px 0px;
  width: calc(20% - 10px);
  min-width: 200px;
}
@media only screen and (max-width: 1100px) {
  .smartfilter__row .smartfilter-select {
    width: calc(25% - 10px);
  }
}
@media only screen and (max-width: 768px) {
  .smartfilter__row .smartfilter-select {
    width: 100%;
    margin-right: 0;
    margin-bottom: 15px;
  }
}
.smartfilter__buttons {
  display: none;
  justify-content: flex-end;
  display: none;
}
@media only screen and (max-width: 768px) {
  .smartfilter__buttons {
    display: flex;
  }
}
.smartfilter__button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 15px 15px;
  background: none;
  color: #2c334c;
  text-transform: uppercase;
  background: #fff;
  border: 1px solid #c4c4c4;
  transition: all 0.3s ease-out;
}
@media only screen and (max-width: 480px) {
  .smartfilter__button {
    width: 100%;
  }
}
.smartfilter__button:hover {
  background: none;
  border: 1px solid #3f4a72;
}
.smartfilter__button:active {
  border: 1px solid #1b233e;
}
.smartfilter__button .icon-filter {
  fill: #2c334c;
  transform: rotate(90deg);
  margin-right: 10px;
}
.smartfilter__controls {
  display: none;
  position: fixed;
  padding: 20px 30px;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background: #fff;
  justify-content: space-between;
  box-shadow: 0 -15px 30px -10px rgba(0, 0, 0, 0.1);
}
@media only screen and (max-width: 768px) {
  .smartfilter__controls {
    display: flex;
  }
}
.smartfilter__clear {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  padding: 16px 20px;
  background: none;
  color: #2c334c;
  border: 1px solid #2c334c;
  transition: all 0.3s ease-out;
  width: 49%;
}
.smartfilter__clear:hover {
  background: none;
  border: 1px solid #3f4a72;
}
.smartfilter__clear:active {
  border: 1px solid #1b233e;
}
.smartfilter__apply {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 35px;
  padding: 16px 30px;
  background: #2c334c;
  transition: all 0.3s ease-out;
  font-size: 16px;
  width: 49%;
}
.smartfilter__apply:hover {
  background: #3f4a72;
  color: #fff;
}
.smartfilter__apply:active {
  background: #1b233e;
}

.smartfilter-select {
  position: relative;
}
.smartfilter-select__placeholder {
  position: relative;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  background: #fff;
  padding: 15px 35px 15px 15px;
  cursor: pointer;
}
@media only screen and (max-width: 768px) {
  .smartfilter-select__placeholder {
    border: none;
    border-radius: 8px;
    padding: 20px 35px 15px 20px;
  }
}
.smartfilter-select__placeholder-value {
  display: block;
  width: 100%;
  font-size: 16px;
}
.smartfilter-select__placeholder-icon {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill,transform .3s ease;
}
.smartfilter-select__dropdown {
  display: none;
  width: 100%;
  background: #fff;
  border: 1px solid #c4c4c4;
  border-top: none;
  position: absolute;
  top: calc(100% - 10px);
  scrollbar-color: #359088 #fff;
  z-index: 5;
  box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
}
@media only screen and (max-width: 768px) {
  .smartfilter-select__dropdown {
    position: relative;
    top: -5px;
    border: none;
  }
}
.smartfilter-select__option {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  font-size: 16px;
  padding: 11px 16px;
  box-sizing: border-box;
  cursor: pointer;
  transition: all .3s ease;
  margin: 0;
}
.smartfilter-select__option-icon {
  display: block;
  border: 1px solid #b8bdce;
  box-sizing: border-box;
  border-radius: 2px;
  background: #fff;
  position: relative;
  width: 20px;
  height: 20px;
  margin-right: 8px;
  margin-top: 1px;
}
.smartfilter-select__option-arrow {
  position: absolute;
  left: 3px;
  bottom: 5px;
  display: none;
}
.smartfilter-select__option-value {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
}
.smartfilter-select__option.selected {
  background: rgba(247, 247, 247, 0.5);
}
.smartfilter-select__option.selected .smartfilter-select__option-arrow {
  display: block;
}
.smartfilter-select__option.selected .smartfilter-select__option-arrow path {
  fill: #56b50d;
}
.smartfilter-select.opened .smartfilter-select__dropdown {
  display: block;
}

/* button */
.button {
  border: none;
  cursor: pointer;
  display: inline-block;
  background: #672a63;
  color: #fff;
  padding: 15px 20px;
  font-size: 18px;
  line-height: 1;
  transition: all 0.3s ease-out;
  outline: none;
  font-weight: 500;
  border-radius: 5px;
  text-align: center;
}
.button:hover {
  color: #fff;
  background: #863d81;
}
.button:active {
  color: #fff;
  background: #4c1648;
  outline: 0;
  border: none;
}
.button_icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.button_line {
  background: none;
  color: #2c334c;
  border: 1px solid #2c334c;
  font-weight: normal;
}
.button_line:hover {
  background: none;
  color: #863d81;
  border: 1px solid #863d81;
}
.button_line:active {
  background: none;
  color: #4c1648;
  border: 1px solid #4c1648;
  outline: 0;
}
.button_black {
  background: #2c334c;
  color: #fff;
  border: none;
  font-weight: normal;
}
.button_black:hover {
  background: #3f4a72;
  color: #fff;
  border: none;
}
.button_black:active {
  background: #1b233e;
  color: #fff;
  border: none;
  outline: 0;
}
.button_black-line {
  background: none;
  color: #fff;
  border: 1px solid #fff;
  font-weight: normal;
}
.button_black-line:hover {
  background: none;
  color: #777789;
  border: 1px solid #777789;
}
.button_black-line:active {
  background: none;
  color: #777789;
  border: 1px solid #777789;
  outline: 0;
}

/* arrow */
.arrow, .catalog-similar__arrow, .instagram-arrow, .photo-slider__arrow {
  padding: 0px 0px;
  position: absolute;
  display: flex;
  justify-content: flex-end;
  left: auto;
  right: 0;
  top: 0px;
  z-index: 1;
}
.arrow__left, .catalog-similar__arrow-left, .instagram__arrow-left, .photo-slider__arrow_left {
  position: relative;
  width: 50px;
  height: 50px;
  background: #f9f9f9;
  cursor: pointer;
  border-radius: 50%;
}
.arrow__left:active, .catalog-similar__arrow-left:active, .instagram__arrow-left:active, .photo-slider__arrow_left:active {
  background: #d6d6d6;
}
.arrow__left::before, .catalog-similar__arrow-left::before, .instagram__arrow-left::before, .photo-slider__arrow_left::before {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  content: "";
  width: 16px;
  height: 16px;
  background: url("data:image/svg+xml;charset=UTF-8,%3c?xml version='1.0' encoding='iso-8859-1'?%3e%3c!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3e%3csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 443.52 443.52' style='enable-background:new 0 0 443.52 443.52;' xml:space='preserve'%3e%3cpath d='M143.492,221.863L336.226,29.129c6.663-6.664,6.663-17.468,0-24.132c-6.665-6.662-17.468-6.662-24.132,0l-204.8,204.8 c-6.662,6.664-6.662,17.468,0,24.132l204.8,204.8c6.78,6.548,17.584,6.36,24.132-0.42c6.387-6.614,6.387-17.099,0-23.712 L143.492,221.863z'/%3e%3c/svg%3e ") no-repeat 100% 100%;
}
.arrow__right, .catalog-similar__arrow-right, .instagram__arrow-right, .photo-slider__arrow_right {
  position: relative;
  width: 50px;
  height: 50px;
  background: #f9f9f9;
  cursor: pointer;
  border-radius: 50%;
  margin-left: 10px;
}
.arrow__right:active, .catalog-similar__arrow-right:active, .instagram__arrow-right:active, .photo-slider__arrow_right:active {
  background: #d6d6d6;
}
.arrow__right::before, .catalog-similar__arrow-right::before, .instagram__arrow-right::before, .photo-slider__arrow_right::before {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(180deg);
  content: "";
  width: 16px;
  height: 16px;
  background: url("data:image/svg+xml;charset=UTF-8,%3c?xml version='1.0' encoding='iso-8859-1'?%3e%3c!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3e%3csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 443.52 443.52' style='enable-background:new 0 0 443.52 443.52;' xml:space='preserve'%3e%3cpath d='M143.492,221.863L336.226,29.129c6.663-6.664,6.663-17.468,0-24.132c-6.665-6.662-17.468-6.662-24.132,0l-204.8,204.8 c-6.662,6.664-6.662,17.468,0,24.132l204.8,204.8c6.78,6.548,17.584,6.36,24.132-0.42c6.387-6.614,6.387-17.099,0-23.712 L143.492,221.863z'/%3e%3c/svg%3e ") no-repeat 100% 100%;
}

.title {
  font-size: 30px;
  padding-bottom: 40px;
  margin: 0;
  font-weight: normal;
}
.title_big {
  font-size: 50px;
  font-weight: bold;
  padding: 0px 0px 40px 0px;
}
.title_small {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 20px;
}
.title_smaller {
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 10px;
}
.title_center {
  text-align: center;
}

/* projects */
.instagram {
  padding: 60px 0px;
}
.instagram__items {
  width: 25%;
}
.instagram__pagination {
  padding-top: 30px;
  position: relative;
  bottom: inherit !important;
  left: inherit !important;
  transform: none;
  display: none;
}
@media only screen and (max-width: 768px) {
  .instagram-arrow {
    display: none;
  }
}
.instagram__items_2 {
  display: flex;
  flex-direction: column;
  height: auto !important;
  justify-content: space-between;
}
.instagram__items_2.instagram__item {
  height: 49%;
}
.instagram__img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  float: left;
}
.instagram__controls {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
}
.instagram__controls .button {
  padding: 15px 50px;
}
.instagram__title {
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  padding-bottom: 20px;
}
.instagram__subtitle {
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  margin: 0px auto;
  max-width: 880px;
  padding-bottom: 40px;
}

/* projectItem */
.instagramItem__img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  float: left;
}

/* .partners-stock */
.partners-stock__content {
  display: flex;
  margin: 0px -20px;
}

/* partner-stock-item */
.partner-stock-item {
  width: 33.33%;
  margin: 0px 20px 20px 20px;
}
.partner-stock-item__photo {
  display: block;
}
.partner-stock-item__img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.partner-stock-item__title {
  text-align: center;
  padding: 20px;
}
.partner-stock-item__name {
  font-size: 24px;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s ease-out;
  text-decoration: none;
}
.partner-stock-item__name:hover {
  color: #7cc627;
  text-decoration: none;
}
.partner-stock-item__name:focus {
  color: #7cc627;
  text-decoration: none;
}
.partner-stock-item__info {
  text-align: center;
  font-size: 18px;
  padding: 0px 20px 20px 20px;
}
.partner-stock-item__controls {
  display: flex;
  justify-content: center;
}

/* searchButton */
.searchButton {
  width: 17px;
  height: 17px;
  border: none;
  position: absolute;
  left: 20px;
  top: calc(50% - 8.5px);
  cursor: pointer;
  display: inline-block;
  transition: all 0.3s ease-out;
  background: none;
}

/* subscriptionButton */
.subscriptionButton {
  background: none;
  padding: 0;
  position: absolute;
  right: 20px;
  cursor: pointer;
}
.subscriptionButton .icon-mail {
  fill: #672a63;
  transition: all 0.3s ease-out;
}
.subscriptionButton:hover {
  background: none;
  padding: 0;
}
.subscriptionButton:hover .icon-mail {
  fill: #863d81;
}

/* catalog */
.catalog {
  margin-bottom: 60px;
}
.catalog__container {
  position: relative;
}
.catalog__header {
  padding: 0px 0px 0px 0px;
}
.catalog__title {
  padding: 0px 0px 0px 0px;
}
.catalog__content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.catalog__content .catalogItem {
  width: calc(30% - 60px);
  margin: 0px 30px 60px 30px;
}
.catalog__tags {
  padding: 0px 0px 30px 0px;
}
.catalog__sort {
  padding: 0px 0px 40px 0px;
  display: flex;
  justify-content: space-between;
}
.catalog__sort .select-box_sort {
  max-width: 250px;
  margin: 0;
}
.catalog__sort .select-box {
  border: none;
}
.catalog__controls {
  display: flex;
  justify-content: center;
}

/* skuPropertyList */
.skuPropertyList {
  display: flex;
}
.skuPropertyList__value {
  padding-right: 3px;
}
.skuPropertyList__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  color: #777789;
  border: 1px solid #777789;
  overflow: hidden;
  border-radius: 50%;
  padding: 2px;
}
.skuPropertyList__img {
  overflow: hidden;
  border-radius: 50%;
}
.skuPropertyList__link-more {
  border: 1px solid #777789;
  border-radius: 3px;
  font-size: 18px;
}

/* labels */
.saleLabel, .stockLabel, .newLabel {
  color: #fff;
  display: inline-block;
  background: #56b50d;
  border-radius: 25px;
  font-weight: bold;
  margin-left: 7px;
  font-size: 12px;
  text-transform: uppercase;
  font-family: "RotondaC";
  padding: 2px 5px;
}

.newLabel {
  background: #74be04;
}

.brandLabel {
  background: none;
}
.brandLabel__img {
  max-width: 40px;
}

/* prices */
.prices {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0px 15px;
}

/* price */
.price {
  font-size: 18px;
  white-space: nowrap;
  margin-right: 10px;
  font-family: "RotondaC";
}
.price .ruble {
  font-size: 18px;
}
.price-old {
  font-size: 14px;
  display: block;
  color: #777789;
  margin-right: 15px;
  position: relative;
  font-family: "RotondaC";
  white-space: nowrap;
}
.price-old::before {
  content: "";
  position: absolute;
  top: 50%;
  height: 1px;
  width: 100%;
  background: #f91155;
}
.price-old .ruble {
  font-size: 15px;
}

/* catalogItem */
.catalogItem {
  width: 25%;
  padding: 20px;
  background: #fff;
  border-radius: 15px;
  position: relative;
  transition: all 0.3s ease-out;
}
.catalogItem__photo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.catalogItem__img {
  width: 100%;
}
.catalogItem__colors {
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
}
.catalogItem__category {
  color: #777789;
}
.catalogItem__title {
  padding-bottom: 15px;
  position: relative;
  display: flex;
  justify-content: center;
}
.catalogItem__name {
  font-size: 18px;
  transition: all 0.3s ease-out;
  text-align: center;
}
.catalogItem__name:hover {
  color: #56b50d;
}
.catalogItem__label {
  display: flex;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 3;
}
.catalogItem .brandLabel {
  left: 0;
  top: 0;
  position: absolute;
}
.catalogItem .favoriteButton {
  margin-left: 15px;
}

/* choose-glasses */
.choose-glasses {
  padding-bottom: 60px;
}
.choose-glasses__container {
  background: #f9f9f9;
}
.choose-glasses__container.limiter {
  padding-top: 60px;
  padding-bottom: 60px;
}
.choose-glasses__wrapper {
  padding: 40px;
  border: 1px solid #2c334c;
}
.choose-glasses__nav {
  font-size: 30px;
  text-align: center;
  padding: 0px 30px 40px 30px;
}
.choose-glasses__button {
  font-weight: bold;
  padding-bottom: 5px;
}
.choose-glasses__button.active {
  border-bottom: 2px solid #74be04;
}
.choose-glasses__info {
  text-align: center;
  font-size: 20px;
  padding: 0px 30px 40px 30px;
}
.choose-glasses__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  transition: all 0.3s ease-out;
}
.choose-glasses__content .choose-glasses__item {
  opacity: 0;
}
.choose-glasses__content.js-tab-content {
  visibility: hidden;
  height: 0;
}
.choose-glasses__content.active {
  visibility: visible;
  height: auto;
}
.choose-glasses__content.active .choose-glasses__item {
  transform: translateY(0);
  opacity: 1;
  transition: all .6s ease-out 0.2s;
}
.choose-glasses__content .choose-glasses__item {
  transform: translateY(50px);
  opacity: 0;
  height: auto;
}
.choose-glasses__controls {
  padding: 40px 30px 0px 30px;
  display: flex;
  justify-content: center;
}
.choose-glasses__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.choose-glasses__img {
  max-width: 140px;
}

.photo-slider__main:hover .photo-slider__arrow_left {
  opacity: 1;
}
.photo-slider__main:hover .photo-slider__arrow_right {
  opacity: 1;
}
.photo-slider__img {
  padding: 20px 20px 0px 20px;
}
.photo-slider__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.photo-slider__arrow_left {
  position: absolute;
  left: 30px;
  z-index: 100;
  top: 50%;
  opacity: 0;
}
.photo-slider__arrow_right {
  position: absolute;
  right: 30px;
  top: 50%;
  left: inherit;
  z-index: 100;
  opacity: 0;
}
.photo-slider__thumbs-content {
  display: flex;
  justify-content: center;
  padding: 20px 0px;
}
.photo-slider__thumbs-item {
  border: 1px solid #e3e3e3;
  border-radius: 12px;
  padding: 10px;
  max-width: 110px;
  max-height: 110px;
  cursor: pointer;
}
@media only screen and (max-width: 500px) {
  .photo-slider__thumbs-item {
    max-width: 90px;
    max-height: 90px;
  }
}
.photo-slider__thumbs-item.swiper-slide-thumb-active {
  border: 1px solid #56b50d;
}
.photo-slider__thumbs-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-wrapper {
  height: auto !important;
}

.swiper-slide {
  height: auto !important;
}

/* banners */
.banners {
  padding-bottom: 60px;
}
.banners__content {
  display: flex;
  flex-wrap: wrap;
  margin: 0px -10px;
}
.banners__item {
  padding: 0px 10px 20px 10px;
  width: 33.33%;
  display: block;
}
.banners__item:nth-child(1) {
  width: 50%;
}
.banners__item:nth-child(2) {
  width: 50%;
}
.banners__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* subscription */
.subscription {
  margin: 0px 0px 0px 0px;
  background: #672a63;
  color: #fff;
  padding: 50px 0px;
}
.subscription__container {
  position: relative;
  z-index: 1;
}
.subscription__content {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.subscription__info {
  width: 100%;
  max-width: 860px;
  font-size: 20px;
  font-weight: 300;
  padding: 0px 0px 40px 0px;
  text-align: center;
}
.subscription__title {
  font-size: 30px;
  font-weight: 500;
  padding: 0px 0px 20px 0px;
}
.subscription__form {
  width: 100%;
  max-width: 600px;
  position: relative;
}

/* footer */
.footer {
  background: #1c1c1c;
  position: relative;
  overflow: hidden;
  padding: 100px 0px 10px 0px;
}
.footer__container {
  position: relative;
  z-index: 1;
}
.footer__content {
  display: flex;
  flex-wrap: wrap;
}
.footer__box {
  width: 20%;
  padding-right: 50px;
}
.footer__box_cr {
  width: 100%;
}
.footer__title {
  font-weight: bold;
  font-size: 16px;
  color: #fff;
  padding: 0px 0px 20px 0px;
  text-transform: uppercase;
}
.footer__item {
  padding: 0px 0px 15px 0px;
}
.footer__link {
  font-size: 15px;
  text-decoration: none;
  transition: all 0.3s ease-out;
  color: #777789;
}
.footer__link:hover {
  color: #fff;
}
.footer__phone {
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 10px;
  color: #fff;
  font-family: "RotondaC";
}
.footer__cr {
  opacity: 1;
  font-size: 14px;
  padding: 50px 0px;
  color: #777789;
}
.footer__button {
  padding: 10px 0px;
}

/* social */
.social {
  display: flex;
  align-items: center;
  padding: 20px 0px 0px 0px;
}
.social__item {
  position: relative;
  margin-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-items: center;
  background: #672a63;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  transition: all 0.3s ease-out;
}
.social__item .icon {
  transition: all 0.3s ease-out;
  fill: #fff;
}
.social__item:hover {
  background: #863d81;
}
.social__item:hover .icon {
  fill: #fff;
}
