/* common */
@import "variable.scss";
@import "icon.scss";
@import "dialog.scss";
@import "mobileMenu.scss";
body, html {
    min-height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family:$font;
    color: $mainColor;
}
body.noscroll {
	overflow: hidden;
}
body.visible {
	overflow: hidden;
}
div {
    -webkit-tap-highlight-color: transparent;
}
svg {
    pointer-events: none;
}
button, input, textarea {
    border: 0;
    outline: 0;
    border-radius: 0;
	transition: $tr_all;
    font-family: $font;
}
fieldset {
    border: 0
}
h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 400;
    color: inherit;
}
p {
    line-height: 22px;
    margin-bottom: 15px;
}
a {
    color: inherit;
    text-decoration: none;
}
a:active, a:focus, a:hover {
    text-decoration: none;
    color: inherit;
}
li {
    list-style: none;
}
*, :after, :before {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
::selection {
    background:#97a1aa;
    color: #fff
}
::-moz-selection {
    background:#97a1aa;
    color: #fff
}
.preload * {
    transition: none !important;
}
body .limiter {
	max-width: 1640px;
    min-width: 980px;
	padding: 0px 60px;
	margin: auto;
	clear: both;
    transition: $tr_all;
}
.ruble {
    font-family: 'Ruble Arial';
    font-size: 18px;
}
.list {
    margin: 0;
    padding: 0;
    list-style: none;
    padding-bottom: 20px;
    & li {
        margin: 0;
        padding: 5px 0px 5px 0px;
        line-height: 20px;
        position: relative;
        &::after {
            position: absolute; 
            left: -15px;
            content: "";
            width: 8px;
            height: 3px;
            top: 13px;
            display: block;
            background:$activeColor;
        }
        &::before {
            display: none;
        }
    }
}



/* page */
.page {
	background:#fff;
    &__wrapper {
        width: 100%;
        height: 100%;
        min-height: 100%;
    }
    &__content {
        overflow: hidden;
        position: relative;
    }
}




/* header */
.header {
	background:#fff;
    position: relative;
    &__container {
        position: relative;
        z-index: 100;
    }
    &__bar {
        padding: 30px 0px 20px 0px;
    }
    &__main {
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
        padding: 0px 0px 20px 0px;
        position: relative;
        transition: $tr_all;
    }
    &__logo { 
    }
    &__search {
        padding:0px 50px 0px 90px;
        transition: $tr_all;
        position: relative;
    }
    &__controls {
        display: flex;
        justify-content:flex-end;
        width: 200px;
    }
    &__menu {
        position: relative;
        flex-grow: 1;
        z-index: 40;
        display: flex;
        padding: 0px 40px 0px 60px;
        .headerControls {
            align-items: center;
            position:relative;
            top: -5px;
        }
    }
}


/* bar */
.bar {
	display: flex;
    align-items: center;
    &__location {
        width: 200px;
        transition: $tr_all;

    }
    &__menu {
        flex-grow: 1;
        display: flex;
        padding:0px 40px 0px 60px;
        justify-content: space-between;
        transition: $tr_all;
    }
    &__content {
        display: flex;
        width: 200px;
        align-items: center;
        justify-content:flex-end;
    }
    &__phone {
    }
    &__videocall {
        padding-right: 10px;
    }
}



/* logo */
.logo {
	text-decoration: none;
	position: relative;
    transition: $tr_all;
    &__img {
        width: 100%;
        width: 200px;
        transition: $tr_all;
    }
    &__text {
        color: #fff;
        position: absolute;
        display: inline-block;
        overflow: hidden;
        width: 100%;
        white-space: nowrap;
        text-indent: 110%;
        left: 0;
    }
    &__img-white {
        display: none;
        width: 100%;
        width: 300px;
    }
}


/* topMenu */
.topMenu {
	display: flex;
    align-items: center;
    &__item {
        padding: 0px 20px 0px 0px;
        transition: $tr_all;
    }
    &:last-child {
        padding: 0px 0px 0px 0px;
    }
    &__link {
        text-decoration: none;
        white-space: nowrap;
        color: $subColor;
        transition: $tr_all;
        &:hover {
            color: $textColor;
        }
    }
}



/* headerSearch */
.headerSearch {
	position: relative;
}


.search {
    position: relative;
}


/* headerControls */
.headerControls {
	display: flex;
	align-items: flex-end;
	text-decoration: none;
	padding:0px 0px 0px 30px;
    &:hover {
        color: $mainColor;
    }
    &__profile {
        cursor: pointer;
        position: relative;
    }
    &__icon {
        position: relative;
        display: block;
    }
    &__iconLabel {
        position: absolute;
        background: $activeColor;
        width: 17px;
        height: 17px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        right:-12px;
        top: -10px;
        font-weight: bold;
        text-align: center;
        font-size: 10px;
        color: #fff;
    }
    &__text {
        display: block;
        font-size: 15px;
        padding: 0px 0px 0px 10px;
    }
    &__text_cart {
	    font-weight: 500;
        font-size: 18px;
        white-space: nowrap;
        .ruble {
            font-size: 20px;
            position: relative;
            top: 2px;
        }
    }
}



/* drop */
.drop {
    background: #fff;
    box-shadow: 0 16px 40px 0 rgba(108,133,159,.24);
    bottom: 0;
    position: absolute;
	opacity: 0;
	visibility: hidden;
    z-index: 100;
	color: #292929;
    border-radius: 5px;
    transform: translateY(103%);
    transition: opacity 0.15s ease-out 0s, transform 0.15s ease-out 0s, -webkit-transform 0.15s ease-out 0s;
    &__close {
        position: absolute;
        right: 20px;
        top: 20px;
        width: 10px;
        height: 10px;
        cursor: pointer;
        transition: all 0.3s ease-out;
        &:hover {
            transform: rotate(90deg);
        }
        .icon-close {
            width: 10px;
            height: 10px;
        }
    }
    &__content {
        padding: 30px 30px 30px 30px;
    }
    &_profile {
        right:0px;
        width: 250px;
        cursor: default;
    }
    &_open {
        display: block;
        transform: translateY(100%);
        visibility: visible;
        opacity: 1;
    }
}




/* drop */
.dropProfile {
    &__user {
        border-bottom: 1px solid rgba(41,41,41,0.1);
        padding-bottom: 15px;
    }
    &__name {
        font-weight: bold;
        font-size: 18px;
    }
    &__email {
        opacity: 0.5;
        font-size: 14px;
    }
    &__menu {
        padding-top: 10px;
    }
    &__item {
        padding: 5px 0px 5px 0px;
        &:last-child {
            padding: 5px 0px 0px 0px;
        }
    }
    &__item_line {
        padding: 10px 0px 0px 0px;
        margin: 0px 0px 10px 0px;
        border-bottom: 1px solid rgba(41,41,41,0.1);
    }
    &__link {
        text-decoration: none;
        color: #292929;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        transition: all 0.3s ease-out;
        &:hover {
            color: $activeColor;
        }
        .icon {
            margin-right: 15px;
        }
    }
}





/* close */
.close {
	position: relative;
	border: none;
	display: inline-block;
	width: 16px;
	height: 16px;
	padding: 0;
	margin: 0;
	left: 0;
	top: 0;
	cursor: pointer;
	transition: all 0.2s ease-out;
    background: none;
    &:hover {
        transform: rotate(90deg);
    }
}




/* phone */
.phone {
	display: flex;
    align-items: center;
    font-weight: bold;
	text-decoration: none;
    font-size: 22px;
    font-family: $priceFont;
    &__number {
        padding: 0px 0px 0px 5px;
    }
    &_mobile {
        display: none;
        transition: $tr_all;
    }
}




/* menu */
.menu { 
	display: flex;
    flex-grow: 1;
	list-style: none;
	justify-content: space-between;
	z-index: 40;
    padding-top: 10px;
    &__item {   
        list-style: none;
        padding: 0px 0px 10px 0px;
        margin: 0;
        min-height: 100%;
        display: block;
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover .menu__link {
        }
        &:hover .menuSubDrop {
            top: 100%;
            opacity: 1;
            height: auto;
            overflow: visible;
            visibility: visible;
            transition: $tr_all;
        }
        &:hover .menu__link::before {
            width: 100%;
            bottom: 0px;
            height: 4px;
            display: block;
            background: $activeColor;
            position: absolute;
            content: "";
            left: 0%;
            right: 0%;
        }
        &:hover .menu__link_sale::before {
            display: none;
        }
    }
    &__item_active {
        .menu__link::before {
            width: 100%;
            bottom: 0px;
            height: 4px;
            display: block;
            background: $activeColor;
            position: absolute;
            content: "";
            left: 0%;
            right: 0%;
        }
    }
    &__link {
        padding: 0px 0px 5px 0px;
        position: relative;
        display: flex;
        text-transform: uppercase;
        align-items: center;
        text-align: center;
        text-decoration: none;
        height: 100%;
        font-size: 15px;
        letter-spacing: 1px;
        font-weight: bold;
        transition: $tr_all;
        &:hover {
            color: $mainColor;
        }
        &::before {
            width: 0px;
            bottom: 0px;
            height: 4px;
            display: block;
            background: #82d700;
            position: absolute;
            content: "";
            left: 50%;
            right: 50%;
            transition: all 0.4s ease-out;
        }
    }
    &__link-text {
        display: block;
        margin-left: 7px;
    }
}


.menuSubDrop {
	position: absolute;
	z-index: 30;
	left: 0;
	top: calc(100% + 20px);
	right: 0;
	opacity: 0;
	overflow: hidden;
	height: 0;
	visibility: hidden;
	width: 100%;
	background: #fff;
	transition: $tr_all;
    box-shadow: 0px 15px 25px 2px rgba(160,160,160,.1);
    &__container {
        display: flex;
        flex-wrap: wrap;
        padding: 40px 60px!important;
    }
}




.menuSub {
	margin: 0;
	padding: 0px 30px 20px 0px;
	width: 25%;
	list-style: none;
    &__photo {
        margin: 0;
        padding: 0;
        display: none;
        list-style: none;
    }
    &__title {
        margin: 0px 0px 5px 0px;
        padding: 0px 0px 8px 0px;
        list-style: none;
    }
    &__item {
        padding: 0px 0px 4px 0px;
    }
    &__link {
        font-size: 14px;
        transition: $tr_all;
        line-height: 16px;
        display: inline-block;
        position: relative;
        &:hover {
            color: $activeColor;
        }
    }
}





/* location */
.location {
	display: flex;
	cursor: pointer;
    align-items: center;
    &:hover .location__value {
        opacity: 0.8;
    }
    &__value {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 3px 10px;
        transition: $tr_all;
        display: inline-block;
        color: $subColor;
    }
}



/* locationSelect */
.locationSelect {
    &__infoText {
        opacity: 0.7;
        padding:20px 0px;
    }
    &__city {
        padding:0px 0px 20px 0px;
        font-weight: 900;
        font-size: 22px;
        display: flex;
        align-items: center;
    }
    &__city .icon-checked {
        margin:0px 0px 0px 10px;
        fill:$mainColor; 
    }
    &__form {}
    &__regions {
        padding: 30px 0px 0px 0px;
    }
    &__regionWrap {
        display: flex;
        flex-wrap: wrap;
    }
    &__subTitle {
        font-weight: bold;
        padding-bottom: 20px;
    }
    &__region {
        list-style: none;
        padding: 0px 20px 20px 0px;
        margin: 0;
        width: 33.33%;
    }
    &__regionItem {
        padding-bottom: 5px;
        &:hover .locationSelect__regionItemText {
                opacity: 1;
            }
    }
    &__regionItemText {
        cursor: pointer;
        opacity: 0.7;
        transition: $tr_all;
        position: relative;
        display: inline-block;
        &:hover {
            opacity: 1;
            color: $mainColor;
        }
    }
    &__regionItemText_active {
        color: $mainColor;
        font-weight: bold;
        opacity: 1;
        cursor: default;
        ::before {
            width: 12px;
            height: 12px;
            content: "";
            position: absolute;
            left: -15px;
            top: calc(50% - 6px);
            display: block;
            background: url("data:image/svg+xml;charset=UTF-8,%3csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 45.7 34.1' style='enable-background:new 0 0 45.7 34.1;' xml:space='preserve'%3e%3cstyle type='text/css'%3e .st0%7bfill:%2300A8EE;%7d %3c/style%3e%3cg%3e%3cg%3e%3cpath class='st0' d='M20.7,32.5c-2.1,2.1-5.4,2.1-7.5,0L1.6,20.9c-2.1-2.1-2.1-5.4,0-7.5c2.1-2.1,5.4-2.1,7.5,0l6.9,6.9 c0.5,0.5,1.4,0.5,1.9,0L36.6,1.6c2.1-2.1,5.4-2.1,7.5,0c1,1,1.6,2.3,1.6,3.8s-0.6,2.8-1.6,3.8L20.7,32.5z'/%3e%3c/g%3e%3c/g%3e%3c/svg%3e ") no-repeat 100% 100%;
        }
    }
}

.productButtons {
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
    margin-bottom: 40px;
    .productMyColor {
        margin-right: 50px;
    }
}


.productDescription {
    background: #fff;
    padding: 0px 0px 40px 0px;
    &__container {}
    &__title {
        font-size: 24px;
        padding-bottom: 10px;
        font-weight: bold;
    }
    &__content {
        padding: 0px 0px 0px 0px;
    }
}


.properties {
    margin-bottom: 30px;
    break-inside: avoid-column;
    &__item {
        display: flex;
        justify-content: flex-start;
        align-items: baseline;
        padding: 5px 0px;
    }
    &__title {
        font-size: 18px;
        font-weight: bold;
        text-transform: uppercase;
        padding-bottom: 20px;
    }
    &__name {
        padding: 0 10px 0px 0px;
    }
    &__line {
        height: 1px;
        margin: 0 8px;
        background: linear-gradient(90deg,#dcdcdc 33%,transparent 0) repeat-x bottom;
        background-size: auto;
        background-size: 3px 1px;
        flex-grow: 1;
        display: none;
    }
    &__value {
        width: 50%;	
        font-weight: bold;
    }
}





.productProperties {
    background: #fff;
    padding: 0px 0px 30px 0px;
    &__container {}

    &__title {
        font-size: 40px;
        text-transform: uppercase;
        padding-bottom: 10px;
        border-bottom: 4px solid rgba(0,0,0,1);
    }
    &__content {
        padding-top: 60px;
        columns: 2;
        column-gap: 30px;
    }
}



.productBuy {
	padding: 15px 30px 15px 30px;
	border: none;
	cursor: pointer;
	color: #fff;
	font-size: 20px;
	background: $buttonBg;
	transition: $tr_all;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(50% - 10px);
    margin-right: 10px;
    border-radius: 5px;
    &:hover {
        background: $buttonHoverBg;
        color: #fff;
    }
    &:active {
        background: $buttonActiveBg;
        box-shadow: 0px 15px 25px -15px rgba(0, 164, 212, 0.0);
    }
    &:focus {
        outline: 0;
    } 
    &_added {
        background:#ffa200;
        &:hover {
            background:#ffcc00;
        }
        &:active {
            background: #e8b400;
        }
    }
    .icon-cart {
        fill:#fff;
        width: 25px;
        height: 25px;
        margin-right: 10px;
    }
    @media only screen and (max-width: 480px){
        width: 100%;
        margin-right: 0px;
        margin-bottom: 20px;
    }
}



.productBuyOne {
	padding: 15px 30px 15px 30px;
    border-radius: 5px;
    display: block;
    width: calc(50% - 10px);
    margin-left: 10px;
	cursor: pointer;
	color: $mainColor;
	font-size: 20px;
	border:1px solid $mainColor;
	transition: $tr_all;
    white-space: nowrap;
    background: #fff;
    position: relative;
    text-align: center;
    &:hover {
        border:1px solid $mainColorHover;
        color: $mainColorActive;
    }
    &:active {
        border:1px solid $mainColorActive;
        background: #fff;
    }
    &:focus {
        outline: 0;
    }
    @media only screen and (max-width: 480px){
        width: 100%;
        margin-right: 0px;
    }
}





/* sort */
.sort {
	display: flex;
	flex-grow: 1;
	align-items: center;
	margin-right: 20px;
    &__title {
        padding-right: 7px;
    }
    &__buttons {
        display: flex;
    } 
}


.product {
    &__container {
        padding: 0px 0px 0px 0px;
    }
    &__main {
        padding: 0px 0px 60px 0px;
        display: grid;
        grid-template-columns: 60% 40%;
        grid-template-areas: "photo price" "info price";
        @media only screen and (max-width: 1150px){
            grid-template-columns: 55% 45%;
        }
        @media only screen and (max-width: 1000px){
            grid-template-columns: 100%;
            grid-template-areas: "photo" "price" "info";
        }
    }
    .product__main_complect {
        grid-template-areas: "photo price" "complect complect" "info info";
        @media only screen and (max-width: 1000px){
            grid-template-columns: 100%;
            grid-template-areas: "photo" "price" "complect" "info";
        }
        .productPrice {
            padding-bottom: 0;
        }
    }
    &__photo {
        position: relative;
        background: #fff;
        border-radius: 0px;
        overflow: hidden;
        margin:0px 0px 0px 0;
        grid-area: photo;
        margin-bottom: 20px;
    }
    .brandLabel {
        left: 0;
        top: 0;
        .brandLabel__img {
            max-width: 80px;
        }
    }
    &__label {
        position: absolute;
        right: 25px;
        top: 0px;
        z-index: 8;
        .saleLabel {
            &__text {
                font-size: 16px;
                padding: 10px 10px;
            }
        }
        .newLabel {
            &__text {
                font-size: 16px;
                padding: 10px 10px;
            }
        }
    }
    &__header {
        @media only screen and (max-width: 1000px){
            display: none;
        }
    }
    &__title {
        font-size: 26px;
        font-weight: bold;
        padding-bottom: 20px;
        width: 100%;
    }
    &__price {
        padding:30px 0px 0px 80px;
        grid-area: price;
        @media only screen and (max-width: 1000px){
            padding:20px;
            background: #fff;
            border-radius: 15px;
            margin-bottom: 20px;
        }
    }

    &__info {
        background: #fff;
        overflow: hidden;
        grid-area: info;
        border-radius: 10px;
    }
    &__reviews {
        background: #fff;
        border-radius: 15px;
        overflow: hidden;
        padding: 40px;
    }
    &__raiting {
        display: flex;
        padding-top: 20px;
    }
    &__code {
        color: $subColor;
    }
    &__complect {
        grid-area: complect;
    }
}


.productFavorute {
    cursor: pointer;
    background: none;
    display: flex;
    font-size: 20px;
    text-transform: uppercase;
    align-items: center;
    transition: $tr_all;
    position: absolute;
    right: 0px;
    top: 10px;
    z-index: 8;
    display: flex;
    align-items: center;
    justify-content: center;
    .icon-favorite {
        transition: $tr_all;
        width: 34px;
        height: 34px;
    }
    &:hover .icon-favorite {
        fill:$mainColor;
    }
}



/* catalog-hits */
.catalog-similar {
    padding: 45px 0px;
    &__wrapper {
        position: relative;
    }
    &__container {
        position: relative;
    }
    &__content {
        display: flex;
    }
    &__pagination {
        @extend .slider__pagination ;
        padding-top: 30px;
        position: relative;
        bottom: inherit!important;
        left: inherit!important;
        transform: none;
        display: none;
        @media only screen and (max-width: 768px){
            display: flex;
        }
    }
    &__arrow {
        @extend .arrow;
        @media only screen and (max-width: 768px){
            display: none;
        }
    }
    &__arrow-left {
        @extend .arrow__left; 
        background: #fff;
        &:active {
            background: #d6d6d6;
        }
    }
    &__arrow-right {
        @extend .arrow__right;
        background: #fff;
        &:active {
            background: #d6d6d6;
        }
    }
}






.product-header-mobile {
    display: none;
    @media only screen and (max-width: 1000px){
        display: block;
    }
}


.productMyColor {
    font-weight: bold;
    font-size: 18px;
    border-bottom: 1px solid $mainColor;
}



.productSku {
    padding-bottom: 20px;
    &__title {
        padding-bottom: 10px;
        font-size: 16px;
    }
    &__list {
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
        list-style: none;
    }
    &__list-item {
        padding:0px 5px 5px 0px;
        display: block; 
    }
    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        width:30px;
        height:30px;
        color: $subColor;
        border: 1px solid $subColor;
        overflow: hidden;
        border-radius: 50%;
        cursor: pointer;
        padding: 2px;
        &:hover {
            opacity: 1;
        }
    }
    &__value {
        display: block;
    }
    &__img {
        overflow: hidden;
        border-radius: 50%;
    }
    &__item_cheked {
        opacity: 1;
        border: 2px solid $activeColor;
    }
    &_size {
        .productSku__item {
            display: flex;
            align-items: center;
            justify-content: center;
            width:40px;
            height:40px;
            color: #fff;
            background: $subColor;
            border: 1px solid $subColor;
            overflow: hidden;
            border-radius: 3px;
            padding: 0px;
            &:hover {
                opacity: 1;
            }
        }
        .productSku__img {
            overflow: hidden;
            border-radius: 0;
        }
        .productSku__item_cheked {
            opacity: 1;
            background: $mainColor;
        }
    }
}




.productPrice {
	padding: 40px 0px 40px 0px;
    @media only screen and (max-width: 1100px){
	    padding: 0px 0px 40px 0px;
    }
    .prices {
        padding: 0px 0px 10px 0px;
        align-items: flex-end;
        justify-content: flex-start;
    }
    .price {
        font-size: 28px;
        margin-right: 20px;
        padding-bottom: 0;
        .ruble {
            font-size: 28px;
        }
    }
    .price-old {
        font-size: 18px;
        font-weight: normal;
        margin:0px 0px 0px 0px;
        .ruble {
            font-size: 18px;
        }
    }
    .price-installment {
        padding: 0;
    }
}


.productReviewsCount {
    padding-left: 20px;
    font-size: 14px;
}




.productReviews {
    /*background: rgba(229,233,236,0.3);*/
    padding: 60px 0px 60px 0px;
    &__container {}
    &__title {
        font-size: 40px;
        text-transform: uppercase;
        padding-bottom: 40px;
    }
    &__content {
    }
}



.reviews {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    &__controls {
        padding-bottom: 40px;
        padding-top: 10px;
    }
    &__form {
        width: 40%;
        padding-left: 50px;
        padding-bottom: 20px;
        @media only screen and (max-width: 480px){
            width: 100%;
            padding-left: 0px;
            padding-bottom: 20px;
            .form__label_big {
                display: none;
            }
        }
    }
    &__content {
        width: 60%;
        @media only screen and (max-width: 480px){
            width: 100%;
        }
    }
    &__title {
        font-size: 40px;
        text-transform: uppercase;
        padding-bottom: 40px;
    }
}




.reviewItem {
	margin-bottom: 30px;
    padding: 30px 0px 15px 0px;
	line-height: 20px;
    max-width: 1000px;
    &:nth-child(even) {
        background: #fff;
    }
    &__raiting {
        padding-bottom: 15px;
        display: flex;
    }
    &__text {
        padding-bottom: 15px;
    }
    &__descript {
        padding-bottom: 15px;
    }
    &__subTitle {
        padding-bottom: 10px;
        font-weight: bold;
    }
    &__subText {}
    &__autor {
        color: #607286;
        display: flex;
    }
    &__autorName {
        padding-right: 30px;
    }
    &__date {}
}






.noreviews {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-height: 600px;
    max-width: 1000px;
    border: 6px dashed $activeColor;
    &__icon {
        padding-bottom: 50px;
    }
    &__img {}
    &__title {
        font-size: 20px;
        font-weight: bold;
        padding-bottom: 20px;
    }
    &__subtitle {
        font-size: 28px;
        font-weight: bold;
        text-transform: uppercase;
    }
}



/* tags */
.tags {
    &__container {
    }
    margin-bottom: 0px;
    @media only screen and (max-width: 768px){
        margin-bottom: 0px;
    } 
    &__title {
        font-weight: bold;
        padding-bottom: 30px;
        font-size: 26px;
    }
    &_product {
        padding-bottom: 30px!important; 
    }
    &__content {
        display: flex;
        justify-content: center;
        padding:0px 0px 60px 0px;
    }
}



/* tags-list */
.tags-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    @media only screen and (max-width: 1024px){
        flex-wrap: nowrap;
    }
    &__item {
        margin: 0px 10px 10px 0px;
        width: auto!important;
    }
    &__link {
        font-size: 16px;
        display: block;
        width: 100%;
        height: 100%;
        padding: 15px 25px;
        border-radius: 5px;
        border: 1px solid #c4c4c4;
        background: rgba(255,255,255,1);
        transition: $tr_all;
        &:hover {
            padding: 15px 25px;
            @media only screen and (max-width: 768px){
                padding: 15px 15px;
            }
        }
        @media only screen and (max-width: 768px){
            padding: 15px 15px;
            font-size: 15px;
        }
    }
    &__link_active {
        border: 1px solid $activeColor;
        &:hover {
            border: 1px solid $activeColor;
        }
    }
}






/* slider */
.slider {
	position: relative;
	z-index: 2;
    transition: $tr_all;
    margin-bottom: 60px;
    &__content {
        border-radius: 15px;
        overflow: hidden;
        margin-bottom: 40px;
    }
    &__container {
        position: relative;
        display: block;
        width: 100%;
        height: auto;
        visibility: inherit;
        &.limiter {
            max-width: 1920px;
            min-width: 980px;
            padding: 0px 0px;
        }
    }
    &__main {
        position: relative;
    }
    &__item {
        width: 100%;
        height: 100%;
    }
    &__photo {
        width: 100%;
        height: 100%;
    }
    &__img {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
    &__img_mobile {
        display: none!important;
    }
    &__controls {
        position: absolute;
        width: 100%;
        bottom: 50px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        font-size: 14px;
        flex-grow: 1;
        overflow: hidden;
        flex-wrap: nowrap;
        border-radius: 0px 0px 10px 10px;
    }
    &__controlsItem {
        position: relative;
        z-index: 0;
        cursor: pointer;
        font-size: 10px;
        color: #fff;
        background: none;
        &.active {
            z-index: 10;
            cursor: default;
            background: rgba(255,255,255,0.1);
            border-radius: 5px;
        }
        button {
            background: none;
            color: #fff;
            cursor: pointer;
            font-size: 10px;
            padding: 15px 15px;
        }
    }
    &__arrow {
        padding: 0px 20px;
        position: absolute;
        display: flex;
        justify-content: flex-end;
        width: 100%;
        bottom: 0px;
        left: auto;
        right: auto;
        left: 50%;
        z-index: 1;
        transform: translateX(-50%);
    }
    &__arrow-left {
        position: relative;
        width: 65px;
        height: 65px;
        background: #f7f7f7;
        cursor: pointer;
        &:active {
            background: #d6d6d6;
        }
        &::before {
            display: block;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
            content: "";
            width: 16px;
            height: 16px;
            background: url("data:image/svg+xml;charset=UTF-8,%3c?xml version='1.0' encoding='iso-8859-1'?%3e%3c!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3e%3csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 443.52 443.52' style='enable-background:new 0 0 443.52 443.52;' xml:space='preserve'%3e%3cpath d='M143.492,221.863L336.226,29.129c6.663-6.664,6.663-17.468,0-24.132c-6.665-6.662-17.468-6.662-24.132,0l-204.8,204.8 c-6.662,6.664-6.662,17.468,0,24.132l204.8,204.8c6.78,6.548,17.584,6.36,24.132-0.42c6.387-6.614,6.387-17.099,0-23.712 L143.492,221.863z'/%3e%3c/svg%3e ") no-repeat 100% 100%;
        }
    }
    &__arrow-right {
        position: relative;
        width: 65px;
        height: 65px;
        background: #f7f7f7;
        cursor: pointer;
        &:active {
            background: #d6d6d6;
        }
        &::before {
            display: block;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%) rotate(180deg);
            content: "";
            width: 16px;
            height: 16px;
            background: url("data:image/svg+xml;charset=UTF-8,%3c?xml version='1.0' encoding='iso-8859-1'?%3e%3c!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3e%3csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 443.52 443.52' style='enable-background:new 0 0 443.52 443.52;' xml:space='preserve'%3e%3cpath d='M143.492,221.863L336.226,29.129c6.663-6.664,6.663-17.468,0-24.132c-6.665-6.662-17.468-6.662-24.132,0l-204.8,204.8 c-6.662,6.664-6.662,17.468,0,24.132l204.8,204.8c6.78,6.548,17.584,6.36,24.132-0.42c6.387-6.614,6.387-17.099,0-23.712 L143.492,221.863z'/%3e%3c/svg%3e ") no-repeat 100% 100%;
        }
        &::after {
            display: block;
            position: absolute;
            left: 0;
            width: 1px;
            height: 40px;
            top: 50%;
            transform: translate(-50%,-50%);
            content: "";
            background: #e2e2e2;
        }
    }
    &__pagination {
        position: absolute;
        width: 100%;
        min-height: 50px;
        left: 50%!important;
        transform: translateX(-50%);
        display: flex;
        justify-content: center;
        font-size: 14px;
        flex-grow: 1;
        z-index: 2;
        flex-wrap: nowrap;
        border-radius: 50%;
        .swiper-pagination-bullet {
            position: relative;
            display: block;
            z-index: 0;
            cursor: pointer;
            background: rgba(41,41,41,0.5);
            width: 15px;
            height: 15px;
            opacity: 1;
            border-radius: 50%;
            margin: 0px 6px!important;
        }
        .swiper-pagination-bullet-active {
            z-index: 10;
            cursor: default;
            background: rgba(124,198,39,1);
            border-radius: 50%;
            &::after {
                z-index: 10;
                position: absolute;
                content: "";
                background: rgba(124,198,39,0.5);
                border-radius: 50%;
                left: -3px;
                top: -3px;
                right: -3px;
                bottom: -3px;
            }
        }
    }
    &_small {
        margin-bottom: 0px;
    }

}


/* headers */
.headers {
    padding: 20px 0px 20px 0px;
    &__container {}
}



/* breadcrumbs */
.breadcrumbs {
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 40px;
    @media only screen and (max-width: 500px){
		padding-left: 20px;
    }
    &__item {
        position: relative;
        padding-right: 30px;
        @media only screen and (max-width: 500px){
            display: none;
        }
        &::before {
            position: absolute;
            right: 10px;
            top: 0;
            content: "\2013";
            display: block;
            opacity: 0.5;
            @media only screen and (max-width: 500px){
                content: "";
                display: block;
                width: 12px;
                transition: all 0.3s ease-out;
                height: 12px;
                left: -20px;
                position: absolute;
                top: calc(50% - 6px);
                background: url("data:image/svg+xml;charset=UTF-8,%3csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 512 512' style='enable-background:new 0 0 512 512;' xml:space='preserve'%3e%3cstyle type='text/css'%3e .st0%7bfill:%23252525;%7d %3c/style%3e%3ctitle%3eArrow%3c/title%3e%3cpath class='st0' d='M120.6,230.6L340.7,10.5c14-14,36.7-14,50.7,0s14,36.7,0,50.7L196.6,256l194.8,194.8c14,14,14,36.7,0,50.7 c-14,14-36.7,14-50.7,0L120.6,281.3C106.6,267.3,106.6,244.7,120.6,230.6L120.6,230.6z'/%3e%3c/svg%3e") no-repeat scroll 100% 100%;
            }
        }
        &:last-child::before {
            display: none;
        }
        @media only screen and (max-width: 500px){
            &:nth-last-child(2) {
                display: block;
            }        
        }
    }
    &__link {
        text-decoration: none;
        color: #292929;
        opacity: 0.5;
        transition: $tr_all;
        &__link:hover {
            opacity: 1;
        }
    }
}





/* form */
.form {
    &__row {
        padding: 0px 0px 25px 0px;
    }
    &__row_ar {
        text-align: right;
    }
    &__row_ac {
        text-align: center;
    }
    &__row_sb {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__row_controls {
        padding-bottom: 0;
    }
    &_subscription {
        display: flex;
        align-items: center;
    }
    &_consultation{
        display: flex;
        width: 100%;
        align-items: center;
        .input {
            margin-right: 10px;
        }
        .input_phone {
            flex-grow: 1;
        }
    }
    &__label {
        &_reviews {
            font-size: 40px;
            text-transform: uppercase;
            padding-bottom: 40px;
        }
    }
    &__label_big {
        font-weight: bold;
        font-size: 24px;
        position: relative;
        top: -38px;
    }
}




/* input */
.input {
    display: inline-block;
    background: #fff;
    font-size: 18px;
    border: 1px solid #d2d2d2;
    padding: 14px 20px;
    transition: $tr_all;
    border-radius: 10px;
    &_big {
        display: block;
        width: 100%;
    }
    &_midle {
        display: block;
        width: 48%;
    }
    &:active {
        outline: none;
        border: none;
    }
    &:focus {
        outline: none;
        background: #fff;
        border: 1px solid $activeColor;
    }
    &_headerSearch {
        width: 100%;
        display: block;
        font-size: 16px;
        padding:15px 20px 15px 50px;
        background: #f9f9f9;
        border: 2px solid #f9f9f9;
        border-radius: 25px;
        &:hover {
        }
        &:focus {
            border: 2px solid $activeColor;
        }
    }
    &_search {
        width: 100%;
        display: block;
        font-size: 16px;
        padding:15px 20px 15px 50px;
        background: #f9f9f9;
        border: 2px solid #f9f9f9;
        border-radius: 25px;
        &:hover {
        }
        &:focus {
            border: 2px solid $activeColor;
        }
    }
    &_subscription {
        padding:18px 60px 18px 20px;
        border-radius: 30px;
        width: 100%;
        display: block;
        background: #f9f9f9;
        border: 2px solid #f9f9f9;
        font-size: 16px;
        transition: $tr_all;
        &:focus {
            border: 2px solid $activeColor;
        }
    }
}





.textarea {
    display: inline-block;
    background: #fff;
    font-size: 18px;
    border: 1px solid #d2d2d2;
    padding: 14px 20px;
    transition: $tr_all;
    border-radius: 10px;
    &_big {
        display: block;
        width: 100%;
    }
    &_midle {
        display: block;
        width: 48%;
    }
    &:active {
        outline: none;
        border: none;
    }
    &:focus {
        outline: none;
        background: #fff;
        border: 1px solid $activeColor;
    }
}


.select-box {
	position: relative;
	display: block;
	width: 100%;
	margin: 0 auto;
	background: #fff;
	border-radius: 10px;
	display: inline-block;
	font-size: 16px;
	outline:none;
	transition: $tr_all;
    &__current {
        position: relative;
        cursor: pointer;
        outline: none;
        border: 1px solid #c4c4c4;
        border-radius: 5px;
        &:focus + .select-box__list {
            opacity: 1;
            animation-name: none;
        }
        &:focus + .select-box__list .select-box__option {
            cursor: pointer;
        }
        &:focus .select-box__icon {
            transform: translateY(-50%) rotate(90deg);
        }
    }
    &__icon {
        position: absolute;
        top: 50%;
        right: 15px;
        transform: translateY(-50%) rotate(-90deg);
        width: 12px;
        transition: 0.2s ease;
    }
    &__value {
        display: flex;
    }
    &__input {
        display: none;
        &:checked + .select-box__input-text {
            display: block;
        }
    }
    &__input-text {
        display: none;
        font-size: 16px;
        width: 100%;
        margin: 0;
        padding: 15px 35px 15px 15px;
        @media only screen and (max-width: 500px){
            font-size: 12px;
        }
    }
    &__input-text-item {
        display: inline-block;
        position: relative;
        padding-right: 20px;
        &::first-letter {
            text-transform: uppercase;
        }
    }
    &__option-text-item {
        display: inline-block;
        position: relative;
        padding-right: 20px;
    }
    &__input-text-asc {
        .select-box__input-text-item::before {
            content: "";
            display: block;
            position: absolute;
            right: 0;
            top: 8px;
            width: 12px;
            height: 12px;
            transform: scale(-1,1) rotate(180deg);
            background: url("data:image/svg+xml;charset=UTF-8,%3csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 459 286' style='enable-background:new 0 0 459 286;' xml:space='preserve'%3e%3cg%3e%3cg id='sort'%3e%3cpath d='M0,286h153v-51H0V286z M0,0v51h459V0H0z M0,168.5h306v-51H0V168.5z'/%3e%3c/g%3e%3c/g%3e%3c/svg%3e ") no-repeat 100% 100%;
        }
    }
    &__input-text-desc {
        .select-box__input-text-item::before {
            content: "";
            display: block;
            position: absolute;
            right: 0;
            top: calc(50% - 9px);
            width: 12px;
            height: 12px;
            background: url("data:image/svg+xml;charset=UTF-8,%3csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 459 286' style='enable-background:new 0 0 459 286;' xml:space='preserve'%3e%3cg%3e%3cg id='sort'%3e%3cpath d='M0,286h153v-51H0V286z M0,0v51h459V0H0z M0,168.5h306v-51H0V168.5z'/%3e%3c/g%3e%3c/g%3e%3c/svg%3e ") no-repeat 100% 100%;
        }
    }
    &__option-asc {
        .select-box__option-text-item::before {
            content: "";
            display: block;
            position: absolute;
            right: 0;
            top: 8px;
            width: 12px;
            height: 12px;
            transform: scale(-1,1) rotate(180deg);
            background: url("data:image/svg+xml;charset=UTF-8,%3csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 459 286' style='enable-background:new 0 0 459 286;' xml:space='preserve'%3e%3cg%3e%3cg id='sort'%3e%3cpath d='M0,286h153v-51H0V286z M0,0v51h459V0H0z M0,168.5h306v-51H0V168.5z'/%3e%3c/g%3e%3c/g%3e%3c/svg%3e ") no-repeat 100% 100%;
        }
    }
    &__option-desc {
        .select-box__option-text-item::before {
            content: "";
            display: block;
            position: absolute;
            right: 0;
            top: calc(50% - 9px);
            width: 12px;
            height: 12px;
            background: url("data:image/svg+xml;charset=UTF-8,%3csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 459 286' style='enable-background:new 0 0 459 286;' xml:space='preserve'%3e%3cg%3e%3cg id='sort'%3e%3cpath d='M0,286h153v-51H0V286z M0,0v51h459V0H0z M0,168.5h306v-51H0V168.5z'/%3e%3c/g%3e%3c/g%3e%3c/svg%3e ") no-repeat 100% 100%;
        }
    }
    &__list {
        position: absolute;
        width: 100%;
        left: 0px;
        top: calc(100% - 5px);
        padding: 0;
        list-style: none;
        opacity: 0;
        animation-name: HideList;
        animation-duration: 0.5s;
        animation-delay: 0.5s;
        animation-fill-mode: forwards;
        animation-timing-function: step-start;
        box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
        z-index: 10;
        border: 1px solid #c4c4c4;
        border-top: none;
    }
    &__option {
        display: block;
        font-size: 14px;
        padding: 6px 15px;
        background-color: #fff;
        transition: $tr_all;
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: 0;
        &:hover {
            color: $activeColor;
        }
        &:focus {
            color: $activeColor;
        }
    }
    &_pages {
        min-width: 70px;
    }
}




.smartfilter {
    padding-bottom: 15px;
    margin-top: 40px;
        @media only screen and (max-width: 768px){
            margin-top: 20px;
        }
    &__content {
        @media only screen and (max-width: 768px){
            position: fixed;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            z-index: 1000;
            background:#fff;
            width: 100%;
            max-width: 100%;
            height: 100%;
            transition: transform .6s cubic-bezier(.19, 1, .22, 1);
            transform: translateX(-100%);
            overflow-x: hidden;
            overflow-y: auto;
            padding: 20px;
            background: #f7f7f7;
        }
    }
    &__content.visible {
        transform: translateX(0%)
    }
    &__title {
        display: none;
        font-weight: bold;
        font-size: 22px;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 100;
        background: #fff;
        padding: 20px 30px;
        box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
        @media only screen and (max-width: 768px){
            display: block;
        }
    }
    &__row {
        display: flex;
        margin-right: -10px;
        flex-wrap: wrap;
        @media only screen and (max-width: 768px){
            width: 100%;
            padding-top: 80px;
            display: block;
            margin-right: 0;
            height: 100%;
            overflow-y: auto;
        }
        .select-box {
            margin:0px 10px 10px 0px;
            width: calc(20% - 10px);
            min-width: 200px;
            @media only screen and (max-width: 1100px){
                width: calc(25% - 10px);
            }
            @media only screen and (max-width: 768px){
                width: 100%;
                margin-right: 0;
            }
        }
        .smartfilter-select {
            margin:0px 10px 10px 0px;
            width: calc(20% - 10px);
            min-width: 200px;
            @media only screen and (max-width: 1100px){
                width: calc(25% - 10px);
            }
            @media only screen and (max-width: 768px){
                width: 100%;
                margin-right: 0;
                margin-bottom: 15px;
            }
        }
    }
    &__buttons {
        display: none;
        justify-content: flex-end;
        display: none;
        @media only screen and (max-width: 768px){
            display: flex;
        }
    }
    &__button {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        padding: 15px 15px;
        background: none;
        color: $mainColor;
        text-transform: uppercase;
        background: #fff;
        border: 1px solid #c4c4c4;
        transition: $tr_all;
        @media only screen and (max-width: 480px){
            width: 100%;
        }
        &:hover {
            background: none;
            border: 1px solid $mainColorHover; 
        }
        &:active {
            border: 1px solid $mainColorActive; 
        }
        .icon-filter {
            fill:$mainColor;
            transform: rotate(90deg);
            margin-right: 10px;
        }
    }
    &__controls {
        display: none;
        position: fixed;
        padding: 20px 30px;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 100;
        background: #fff;
        justify-content: space-between;
        box-shadow: 0 -15px 30px -10px rgba(0, 0, 0, 0.1);
        @media only screen and (max-width: 768px){
            display: flex;
        }
    }
    &__clear {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 25px;
        padding: 16px 20px;
        background: none;
        color: $mainColor;
        border: 1px solid $mainColor; 
        transition: $tr_all;
        width: 49%;
        &:hover {
            background: none;
            border: 1px solid $mainColorHover; 
        }
        &:active {
            border: 1px solid $mainColorActive; 
        }
    }
    &__apply {
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 35px;
        padding: 16px 30px;
        background: $mainColor;
        transition: $tr_all;
        font-size: 16px;
        width: 49%;
        &:hover {
            background: $mainColorHover;
            color: #fff;
        }
        &:active {
            background: $mainColorActive;
        }

    }
}



.smartfilter-select {
    position: relative;
    &__placeholder {
        position: relative;
        border: 1px solid #c4c4c4;
        border-radius: 5px;
        background: #fff;
        padding: 15px 35px 15px 15px;
        cursor: pointer;
        @media only screen and (max-width: 768px){
            border: none;
            border-radius: 8px;
            padding: 20px 35px 15px 20px;
        }
    }
    &__placeholder-value {
        display: block;
        width: 100%;
        font-size: 16px;
    }
    &__placeholder-icon {
        position: absolute;
        right: 15px;
        top:50%;
        transform: translateY(-50%);
        transition: fill,transform .3s ease;
    }
    &__dropdown {
        display: none;
        width: 100%;
        background: #fff;
        border: 1px solid #c4c4c4;
        border-top: none;
        position: absolute;
        top: calc(100% - 10px);
        scrollbar-color: #359088 #fff;
        z-index: 5;
        box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
        @media only screen and (max-width: 768px){
            position: relative;
            top: -5px;
            border: none;
        }
    }
    &__option {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        font-size: 16px;
        padding: 11px 16px;
        box-sizing: border-box;
        cursor: pointer;
        transition: all .3s ease;
        margin: 0;
    }
    &__option-icon {
        display: block;
        border: 1px solid #b8bdce;
        box-sizing: border-box;
        border-radius: 2px;
        background: #fff;
        position: relative;
        width: 20px;
        height: 20px;
        margin-right: 8px;
        margin-top: 1px;
    }
    &__option-arrow {
        position: absolute;
        left: 3px;
        bottom: 5px;
        display: none;
    }
    &__option-value {
        font-size: 14px;
        text-transform: uppercase;
        font-weight: bold;
    }
    &__option.selected {
        background: rgba(247,247,247,0.5);
        .smartfilter-select__option-arrow {
            display: block;
            path {
                fill:$activeColor;
            }
        }
    }
    &.opened {
        .smartfilter-select__dropdown {
            display: block;
        }
    }
}





/* button */
.button {
	border: none;
	cursor: pointer;
	display: inline-block;
	background:$buttonBg;
	color: #fff;
	padding: 15px 20px;
	font-size: 18px;
    line-height: 1;
	transition: $tr_all;
	outline: none;
    font-weight: 500;
    border-radius: 5px;
    text-align: center;
    &:hover {
    	color: #fff;
        background: $buttonHoverBg;
    }
    &:active {
        color: #fff;
        background: $buttonActiveBg;
        outline: 0;
        border: none;
    }
    &_icon {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &_line {
        background: none;
        color: $mainColor;
        border:1px solid $mainColor;
        font-weight: normal;
        &:hover {
            background: none;
            color: $buttonHoverBg;
            border:1px solid $buttonHoverBg;
        }
        &:active {
            background: none;
            color: $buttonActiveBg;
            border:1px solid $buttonActiveBg;
            outline: 0;
        }
    }
    &_black {
        background: $mainColor;
        color: #fff;
        border:none;
        font-weight: normal;
        &:hover {
            background: $mainColorHover;
            color: #fff;
            border:none;
        }
        &:active {
            background: $mainColorActive;
            color: #fff;
            border:none;
            outline: 0;
        }
    }
    &_black-line {
        background: none;
        color: #fff;
        border:1px solid #fff;
        font-weight: normal;
        &:hover {
            background: none;
            color: $subColor;
            border:1px solid $subColor;
        }
        &:active {
            background: none;
            color: $subColor;
            border:1px solid $subColor;
            outline: 0;
        }
    }
}


/* arrow */
.arrow {
    padding: 0px 0px;
    position: absolute;
    display: flex;
    justify-content: flex-end;
    left: auto;
    right: 0;
    top: 0px;
    z-index: 1;
    &__left {
        position: relative;
        width: 50px;
        height: 50px;
        background: #f9f9f9;
        cursor: pointer;
        border-radius: 50%;
        &:active {
            background: #d6d6d6;
        }
        &::before {
            display: block;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
            content: "";
            width: 16px;
            height: 16px;
            background: url("data:image/svg+xml;charset=UTF-8,%3c?xml version='1.0' encoding='iso-8859-1'?%3e%3c!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3e%3csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 443.52 443.52' style='enable-background:new 0 0 443.52 443.52;' xml:space='preserve'%3e%3cpath d='M143.492,221.863L336.226,29.129c6.663-6.664,6.663-17.468,0-24.132c-6.665-6.662-17.468-6.662-24.132,0l-204.8,204.8 c-6.662,6.664-6.662,17.468,0,24.132l204.8,204.8c6.78,6.548,17.584,6.36,24.132-0.42c6.387-6.614,6.387-17.099,0-23.712 L143.492,221.863z'/%3e%3c/svg%3e ") no-repeat 100% 100%;
        }
    }
    &__right {
        position: relative;
        width: 50px;
        height: 50px;
        background: #f9f9f9;
        cursor: pointer;
        border-radius: 50%;
        margin-left: 10px;
        &:active {
            background: #d6d6d6;
        }
        &::before {
            display: block;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%) rotate(180deg);
            content: "";
            width: 16px;
            height: 16px;
            background: url("data:image/svg+xml;charset=UTF-8,%3c?xml version='1.0' encoding='iso-8859-1'?%3e%3c!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3e%3csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 443.52 443.52' style='enable-background:new 0 0 443.52 443.52;' xml:space='preserve'%3e%3cpath d='M143.492,221.863L336.226,29.129c6.663-6.664,6.663-17.468,0-24.132c-6.665-6.662-17.468-6.662-24.132,0l-204.8,204.8 c-6.662,6.664-6.662,17.468,0,24.132l204.8,204.8c6.78,6.548,17.584,6.36,24.132-0.42c6.387-6.614,6.387-17.099,0-23.712 L143.492,221.863z'/%3e%3c/svg%3e ") no-repeat 100% 100%;
        }
    }

}



.title {
    font-size: 30px;
    padding-bottom: 40px;
    margin: 0;
    font-weight: normal;
    &_big {
        font-size: 50px;
        font-weight: bold;
        padding: 0px 0px 40px 0px;
    }
    &_small {
        font-size: 20px;
        font-weight: bold;
        padding-bottom: 20px;
    }
    &_smaller {
        font-size: 18px;
        font-weight: bold;
        padding-bottom: 10px;
    }
    &_center {
        text-align: center;
    }
}



/* projects */
.instagram {
    padding: 60px 0px;
    &__wrapper {}
    &__container {}
    &__content {}
    &__items {
        width: 25%;
    }
    &__pagination {
        @extend .slider__pagination ;
        padding-top: 30px;
        position: relative;
        bottom: inherit!important;
        left: inherit!important;
        transform: none;
        display: none;
    }
    &-arrow {
        @extend .arrow;
        @media only screen and (max-width: 768px){
            display: none;
        }
    }
    &__arrow-left {
        @extend .arrow__left;
    }
    &__arrow-right {
        @extend .arrow__right;
    }
    &__items_2 {
        display: flex;
        flex-direction: column;
        height: auto!important;
        justify-content: space-between;
    }
    &__items_2 {
        &.instagram__item {
            height: 49%;
        }
    }
    &__img {
        object-fit: cover;
        height: 100%;
        width: 100%;
        float: left;
    }    
    &__controls {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 30px;
        .button {
            padding: 15px 50px;
        }
    }
    &__title {
        font-weight: bold;
        font-size: 30px;
        text-align: center;
        padding-bottom: 20px;
    }
    &__subtitle {
        font-size: 20px;
        font-weight: 300;
        text-align: center;
        margin: 0px auto;
        max-width: 880px;
        padding-bottom: 40px;
    }
}



/* projectItem */
.instagramItem {
    &__img {
        object-fit: cover;
        height: 100%;
        width: 100%;
        float: left;
    }    
}



/* .partners-stock */
.partners-stock {
    &__container {}
    &__content {
        display: flex;
        margin: 0px -20px;
    }
}





/* partner-stock-item */
.partner-stock-item {
    width: 33.33%;
    margin: 0px 20px 20px 20px;
    &__photo {
        display: block;
    }
    &__img {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
    &__title {
        text-align: center;
        padding: 20px;
    }
    &__name {
        font-size: 24px;
        text-decoration: none;
        font-weight: bold;
        transition: $tr_all;
        text-decoration: none;
        &:hover {
            color: $linkHoverColor;
            text-decoration: none;
        }
        &:focus {
            color: $linkHoverColor;
            text-decoration: none;
        }
    }
    &__info {
        text-align: center;
        font-size: 18px;
        padding: 0px 20px 20px 20px;
    }
    &__controls {
        display: flex;
        justify-content: center;
    }
}




/* searchButton */
.searchButton {
	width: 17px;
	height: 17px;
	border: none;
	position: absolute;
	left: 20px;
	top: calc(50% - 8.5px);
	cursor: pointer;
	display: inline-block;
	transition: $tr_all;
    background: none;
}


/* subscriptionButton */
.subscriptionButton {
    background:none;
    padding: 0;
    position: absolute;
    right: 20px;
    cursor: pointer;
    .icon-mail {
        fill:$buttonBg;
        transition: $tr_all;
    }
    &:hover {
        background: none;
        padding: 0;
        .icon-mail {
            fill:$buttonHoverBg;
        }
    }
}



/* catalog */
.catalog {
    margin-bottom: 60px;
    &__container {
        position: relative;
    }
    &__header {
        padding: 0px 0px 0px 0px;
    }
    &__title {
        padding: 0px 0px 0px 0px;
    }
    &__content {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        .catalogItem {
            width: calc(30% - 60px);
            margin: 0px 30px 60px 30px;
        }
    }
    &__tags {
        padding: 0px 0px 30px 0px;
    }
    &__sort {
        padding: 0px 0px 40px 0px;
        display: flex;
        justify-content: space-between;
        .select-box_sort {
            max-width: 250px;
            margin: 0;
        }
        .select-box {
            border: none;
        }
    }
    &__controls {
        display: flex;
        justify-content: center;
    }
}





/* skuPropertyList */
.skuPropertyList {
    display: flex;
    &__value {
        padding-right: 3px;
    }
    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        width:20px;
        height:20px;
        color: $subColor;
        border: 1px solid $subColor;
        overflow: hidden;
        border-radius: 50%;
        padding: 2px;
    }
    &__img {
        overflow: hidden;
        border-radius: 50%;
    }
    &__link-more {
        border: 1px solid $subColor;
        border-radius: 3px;
        font-size: 18px;
    }
}




/* labels */
.saleLabel {
	color: #fff;
	display: inline-block;
    background: $activeColor;
    border-radius: 25px;
    font-weight: bold;
    margin-left: 7px;
    font-size: 12px;
    text-transform: uppercase;
    font-family: $priceFont;
    padding: 2px 5px;
}
.stockLabel {
    @extend .saleLabel;
}
.newLabel {
    @extend .saleLabel;
    background: $linkColor;
}
.brandLabel {
    background: none;
    &__img {
        max-width: 40px;
    }
}




/* prices */
.prices {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0px 15px;
}


/* price */
.price {
    font-size: 18px;
    white-space: nowrap;
    margin-right: 10px;
    font-family: $priceFont;
    .ruble {
        font-size:18px;
    }
    &-old {
        font-size: 14px;
        display: block;
        color: $subColor;
        margin-right: 15px;
        position: relative;
        font-family: $priceFont;
        white-space: nowrap;
        &::before {
            content: "";
            position: absolute;
            top:50%;
            height: 1px;
            width: 100%;
            background: #f91155;
        }
        .ruble {
            font-size: 15px;
        }
    }
}


/* catalogItem */
.catalogItem {
    width: 25%;
    padding: 20px;
    background: #fff;
    border-radius: 15px;
    position: relative;
    transition: $tr_all;
    &__photo {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__img {
        width: 100%;
    }
    &__colors {
        padding-bottom: 20px;
        display: flex;
        justify-content: center;
    }
    &__category {
        color: $subColor;
    }
    &__title {
        padding-bottom: 15px; 
        position: relative;
        display: flex;
        justify-content: center;
    }
    &__name {
        font-size: 18px;
        transition: $tr_all;
        text-align: center;
        &:hover  {
            color: $activeColor;
        }
    }
    &__rating {}
    &__label {
        display: flex;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 3;
    }
    .newLabel {}
    .brandLabel {
        left: 0;
        top: 0;
        position: absolute;
    }
    .favoriteButton {
        margin-left: 15px;
    }
}




/* choose-glasses */
.choose-glasses {
    padding-bottom: 60px;
    &__container {
        background: #f9f9f9;
        &.limiter {
            padding-top: 60px;
            padding-bottom: 60px;
        }
    }
    &__wrapper {
        padding: 40px;
        border: 1px solid $mainColor;
    }
    &__nav {
        font-size: 30px;
        text-align: center;
        padding:0px 30px 40px 30px;
    }
    &__button {
        font-weight: bold;
        padding-bottom: 5px;
        &.active {
            border-bottom: 2px solid $linkColor;
        }
    }
    &__info {
        text-align: center;
        font-size: 20px;
        padding:0px 30px 40px 30px;
    }
    &__content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        transition: $tr_all;
        .choose-glasses__item {
            opacity: 0;
        }
        &.js-tab-content {
            visibility: hidden;
            height: 0;
        }
        &.active {
            visibility: visible;
            height: auto;
            .choose-glasses__item {
                transform: translateY(0);
                opacity: 1;
                transition: all .6s ease-out 0.2s;
            }
        }
        .choose-glasses__item {
            transform: translateY(50px);
            opacity: 0;
            height: auto;
        }
    }
    &__controls {
        padding: 40px 30px 0px 30px;
        display: flex;
        justify-content: center;
    }
    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
    }
    &__photo {}
    &__img {
        max-width: 140px;
    }
    &__type {}
}


.photo-slider {
    &__inner {}
    &__main {
        &:hover {
            .photo-slider__arrow_left {
                opacity: 1;
            }
            .photo-slider__arrow_right {
                opacity: 1;
            }
        }
    }
    &__content {}
    &__item {}
    &__img {
        padding: 20px 20px 0px 20px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 10px;
        }
    }
    &__arrow {
        @extend .arrow;
    }
    &__arrow_left {
        @extend .arrow__left;
        position: absolute;
        left: 30px;
        z-index: 100;
        top: 50%;
        opacity: 0;
    }
    &__arrow_right {
        @extend .arrow__right;
        position: absolute;
        right: 30px;
        top: 50%;
        left:inherit;
        z-index: 100;
        opacity: 0;
    }
    &__thumbs {
    }
    &__thumbs-content {
        display: flex;
        justify-content: center;
	    padding: 20px 0px;
    }
    &__thumbs-item {
        border: 1px solid #e3e3e3;
        border-radius: 12px;
        padding: 10px;
        max-width: 110px;
        max-height: 110px;
        cursor: pointer;
        @media only screen and (max-width: 500px){
            max-width: 90px;
            max-height: 90px;
        }
    }
    &__thumbs-item.swiper-slide-thumb-active {
        border: 1px solid $activeColor;
    }
    &__thumbs-img {
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__zoom {}
}


.swiper-wrapper {
    height: auto!important;
}
.swiper-slide {
    height: auto!important;
}




/* banners */
.banners {
    padding-bottom: 60px;
    &__container {
    }
    &__content {
        display: flex;
        flex-wrap: wrap;
        margin: 0px -10px;
    }
    &__item {
        padding: 0px 10px 20px 10px;
        width: 33.33%;
        display: block;
        &:nth-child(1) {
            width: 50%;
        }
        &:nth-child(2) {
            width: 50%;
        }
    }
    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}





/* subscription */
.subscription {
	margin:0px 0px 0px 0px;
    background: $buttonBg;
    color: #fff;
    padding: 50px 0px;
    &__container {
        position: relative;
        z-index: 1;
    }
    &__content {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    &__info {
        width: 100%;
        max-width: 860px;
        font-size: 20px;
        font-weight: 300;
        padding: 0px 0px 40px 0px;
        text-align: center;
    }
    &__title {
        font-size: 30px;
        font-weight: 500;
        padding: 0px 0px 20px 0px;
    }
    &__text {
    }
    &__form {
        width: 100%;
        max-width: 600px;
        position: relative;
    }
}





/* footer */
.footer {
	background: #1c1c1c;
    position: relative;
    overflow: hidden;
    padding: 100px 0px 10px 0px;
    &__container {
        position: relative;
        z-index: 1;
    }
    &__content {
        display: flex;
        flex-wrap: wrap;
    }
    &__box {
        width: 20%;
        padding-right: 50px;
    }
    &__box_cr {
        width: 100%;
    }
    &__title {
        font-weight: bold;
        font-size: 16px;
        color: #fff;
        padding: 0px 0px 20px 0px;
        text-transform: uppercase;
    }
    &__item {
        padding: 0px 0px 15px 0px;
    }
    &__link {
        font-size: 15px;
        text-decoration: none;
        transition: $tr_all;
        color:$subColor;
        &:hover {
            color: #fff;
        }
    }
    &__phone {
        font-size: 24px;
        font-weight: bold;
        padding-bottom: 10px;
        color: #fff;
        font-family: $priceFont;
    }
    &__cr {
        opacity: 1;
        font-size: 14px;
        padding: 50px 0px;
        color:$subColor;
    }
    &__button {
        padding: 10px 0px;
    }
}




/* social */
.social {
	display: flex;
    align-items: center;
	padding: 20px 0px 0px 0px;
    &__item {
        position: relative;
        margin-right: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        align-items: center;
        background: $buttonBg;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        transition:$tr_all;
        .icon {
            transition:$tr_all;
            fill:#fff;
        }
        &:hover {
            background: $buttonHoverBg;
            .icon {
                fill:#fff;
            }
        }
    }
}















































































