/* burger */
.burger {
  width: 19px;
  height: 14px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: absolute;
  top: 22px;
  left: 0px;
  z-index: 20;
  transition: all 0.4s ease-out;
  display: none;
}
.burger.visible .line:nth-child(1) {
  transform: rotate(45deg) translate(2px, 2px);
}
.burger.visible .line:nth-child(2) {
  visibility: hidden;
}
.burger.visible .line:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}
@media only screen and (max-width: 1024px) {
  .burger {
    display: flex;
  }
}

.line {
  transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  height: 1px;
  width: 19px;
  background: #1c1c1c;
  margin: 2px auto;
}

/* mobileMenuContainer */
.mobileMenuContainer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: #fff;
  width: 100%;
  height: 100%;
  padding: 30px 0px 0px 0px;
  transition: -webkit-transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  overflow-x: hidden;
  overflow-y: auto;
}
.mobileMenuContainer.visible {
  transform: translateX(0%);
}
.mobileMenuContainer .location {
  margin: 12px 30px;
}
.mobileMenuContainer .burger {
  top: 20px;
  left: auto;
  transform: none;
  right: 20px !important;
}

.slider-menu {
  overflow: hidden;
}
.slider-menu__container {
  position: relative;
  top: 0;
  left: 0;
  transition: left .2s;
}
.slider-menu__menu {
  margin: 0;
  padding: 0;
  list-style: none;
}
.slider-menu__menu .slider-menu__menu {
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  opacity: 0;
  transition: opacity .2s;
  visibility: hidden;
}
.slider-menu__menu .slider-menu--active {
  opacity: 1;
  visibility: visible;
}
.slider-menu__item--vertical .slider-menu__back {
  display: none;
}
.slider-menu__item--vertical .slider-menu__menu {
  position: relative;
  top: auto;
  left: auto;
  display: none;
  visibility: visible;
  opacity: 1;
  background-color: rgba(0, 165, 43, 0.05);
  border-color: rgba(0, 165, 43, 0.1);
}
.slider-menu__item--vertical .slider-menu__menu .slider-menu__link {
  color: #00a52b;
  text-transform: none;
  font-weight: 300;
  font-size: 12px;
}
.slider-menu__item--vertical .slider-menu__menu .slider-menu__link:hover {
  color: #fff;
}
.slider-menu__desc {
  display: inline-block;
  font-size: .8em;
  text-transform: none;
  color: #00a52b;
  transition: color .2s;
  margin-left: 5px;
  vertical-align: middle;
  font-weight: normal;
}
.slider-menu__desc::before {
  content: '- ';
}
.slider-menu__item {
  padding: 0px 0px;
}
.slider-menu__item:last-child {
  border-bottom: 0;
}
.slider-menu__item:last-child .slider-menu__link {
  border-bottom: 0;
}
.slider-menu__item_margin {
  margin-top: 20px;
}
.slider-menu__item_header {
  background-color: #fff;
}
.slider-menu__item_header .slider-menu__link {
  padding: 12px 0px;
  display: block;
  margin: 0px 30px;
  font-size: 17px;
  font-weight: bold;
  color: #000;
  border-bottom: none;
  text-transform: uppercase;
}
.slider-menu__item_header .slider-menu__text {
  display: block;
  padding: 12px 0px;
  margin: 0px 30px;
  font-size: 17px;
  font-weight: bold;
  border-bottom: none;
  color: #000;
  position: relative;
  text-transform: uppercase;
}
.slider-menu__link {
  padding: 12px 0px;
  margin: 0px 30px;
  text-decoration: none;
  color: #1c1c1c;
  position: relative;
  display: block;
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: bold;
  transition: all 0.3s ease-out;
}
.slider-menu__link:hover {
  color: #000;
  text-decoration: none;
}
.slider-menu__link:hover .slider-menu__desc {
  color: #000;
  text-decoration: none;
}
.slider-menu__link:active {
  color: #000;
  text-decoration: none;
}
.slider-menu .slider-menu__link-text {
  display: inline-block;
  position: relative;
}
.slider-menu .slider-menu__link-text_hits::after {
  position: absolute;
  right: -35px;
  top: -7px;
  border-radius: 25px;
  font-size: 9px;
  font-weight: bold;
  border: 1px solid #777789;
  content: "HIT";
  padding: 3px 10px;
  background: #fff;
}
.slider-menu .slider-menu__link-text_new::after {
  position: absolute;
  background: #fff;
  right: -35px;
  top: -7px;
  border-radius: 25px;
  font-size: 9px;
  font-weight: bold;
  border: 1px solid #777789;
  content: "NEW";
  padding: 3px 10px;
}
.slider-menu__item_headerMain {
  padding: 20px 30px 20px 30px;
  font-size: 18px;
  font-weight: bold;
  background-color: #f6f8fb;
}
.slider-menu__link--active-link {
  background-color: #00a52b;
  color: #000;
}
.slider-menu__link--active-link .slider-menu__desc {
  color: #000;
}
.slider-menu--has-children > .slider-menu__link:before {
  float: right;
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  margin-top: 4px;
  transition: transform .2s, margin-top .2s;
  background: url("../images/arrow.svg") no-repeat;
  transform: rotate(180deg);
}
.slider-menu--has-children > .slider-menu__link:hover:before {
  background-color: #fff;
}
.slider-menu__back {
  color: #00a52b;
  transition: color .2s;
  font-weight: 300;
  padding: 20px 0px;
}
.slider-menu__back .slider-menu__text {
  display: flex;
  align-items: center;
  position: relative;
  width: 14px;
  height: 14px;
  font-size: 14px;
  padding-left: 24px;
  color: #777789;
  text-transform: inherit;
  background: url("../images/arrow.svg") no-repeat;
}
.slider-menu__back:hover .slider-menu__text {
  background-color: #fff;
}
.slider-menu__item_bar .slider-menu__link {
  color: #777789;
  text-transform: inherit;
  font-size: 16px;
  font-weight: normal;
}
.slider-menu__item_margin {
  margin-top: 20px;
}
.slider-menu__link_sale {
  padding: 12px 15px;
  margin: 10px 30px;
  color: #fff;
  height: auto;
  border-radius: 30px;
  background: #777789;
  display: flex;
  align-items: center;
  width: 110px;
}
.slider-menu__link_sale:hover {
  color: #fff;
  text-decoration: none;
}
.slider-menu__link_sale:active {
  color: #fff;
  text-decoration: none;
}
.slider-menu__link_sale .icon-sale {
  position: relative;
  top: -1px;
}
.slider-menu .slider-menu__item--vertical.slider-menu--has-children > .slider-menu__link:before {
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  margin-top: 6px;
}
.slider-menu .slider-menu__item--vertical.slider-menu--has-children > .slider-menu__link.slider-menu__link--active-link:before {
  background-color: #fff;
  -ms-transform: rotate(270deg);
  /* IE 9 */
  -webkit-transform: rotate(270deg);
  /* Chrome, Safari, Opera */
  transform: rotate(270deg);
  margin-top: 4px;
}

@-moz-document url-prefix() {
  .slider-menu--has-children > .slider-menu__link:before,
  .slider-menu--has-children > .slider-menu__link:hover:before,
  .slider-menu__item--vertical.slider-menu--has-children > .slider-menu__link.slider-menu__link--active-link:before,
  .slider-menu__back .slider-menu__text {
    background-color: transparent !important;
    background-repeat: no-repeat;
  }

  .slider-menu--has-children > .slider-menu__link:before,
  .slider-menu__back .slider-menu__text {
    background-image: url("../images/arrow.svg");
  }
}
