$font: 'Neo Sans Pro';
$priceFont: 'RotondaC';
$fontSize: 16px;

$mainColor: #2c334c;
$mainColorHover: #3f4a72;
$mainColorActive: #1b233e;
$subColor: #777789;
$textColor: #2c334c;
$activeColor: #56b50d;
    
$linkColor: #74be04;
$linkHoverColor: #7cc627;
$linkActiveColor: #7cc627;

$buttonBg: #672a63;
$buttonColor: #fff;
$buttonHoverBg:#863d81;
$buttonActiveBg:#4c1648;

$tr_all: all 0.3s ease-out;