.form {
    padding-bottom: 15px;
    display: flex;
}
.form__col {
    width: 33%;
}
.form__row {
    margin: 0 auto;
    display: flex;
}
.form__row-drag-helper {
    height: 15px;
    width: 100%;
    margin: 0 auto;
}
.form_dragged .form__row-drag-helper {
    border: 2px dashed #d3d2d2;
}
.form__row-drag-helper_over {
    width: 100%;
    height: 54px;
    border: 2px dashed #929ba1!important;
    margin: 5px auto;
    border-radius: 4px;
}
.form__sort-drag-helper {
    width: 15px;
    height: 41px;
    flex-shrink: 0;
}
.form_dragged .form__sort-drag-helper {
    border: 2px dashed #d3d2d2;
}
.form__sort-drag-helper_over {
    width: 100%;
    flex-shrink: 1;
    margin: 0 0px;
    border: 2px dashed #929ba1!important;
}
.form__input {
    width: 100%;
    overflow: hidden;
    position: relative;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.4);
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
}
.form__input-drag {
    width: 24px;
}
.form__input-container {
    color: #7f7f7f;
    height: 41px;
    line-height: 41px;
    width: 100%;
}
.form__input-required {
    color: red;
}
.form__input-parameters {
    display: none;
}
.form__input-setting {
    width: 21px;
    height: 41px;
    display: flex;
}
.form__input-delete {
    width: 34px;
    height: 41px;
    display: flex;
}
.form__input-setting-link,
.form__input-delete-link {
    line-height: 41px;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
}
.form__input-setting-link span,
.form__input-delete-link span {
    color:rgba(0,0,0,.3);
    line-height: 41px;
}
.form__input-setting-link:hover span,
.form__input-delete-link:hover span {
    color:#929ba1;
    line-height: 41px;
}