.catalog__sort {
    padding: 0px 0px 0px 0px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px; }
.catalog__sort .select-box_sort {
    max-width: 250px;
    margin: 0; }
.catalog__sort .select-box {
    border: none; }
.sort {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-grow: 1;
    align-items: center;
    color: #607286;
    margin-right: 20px; }
.sort__title {
    padding-right: 7px;
    opacity: 0.5; }
.sort__buttons {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex; }