.bx_compare.bx_green .bx_filtren_container{
	background: #d2e7be;
	border: 7px solid #e9f3e1;
}
.bx_compare.bx_green .bx_bt_button{
	font-size:14px;
	display:inline-block;
	cursor:pointer;
	text-align:center;
	text-decoration:none;
	color:#fff;
	border-radius:3px;
	background:#99d23e;
	background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod?iIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background:   -moz-linear-gradient(top, #99d23e 0%, #63aa28 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#99d23e), color-stop(100%,#63aa28));
	background:-webkit-linear-gradient(top, #99d23e 0%,#63aa28 100%);
	background:     -o-linear-gradient(top, #99d23e 0%,#63aa28 100%);
	background:    -ms-linear-gradient(top, #99d23e 0%,#63aa28 100%);
	background:        linear-gradient(to bottom, #99d23e 0%,#63aa28 100%);
	text-shadow:0 1px 0 #5d8634;

	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99d23e', endColorstr='#63aa28',GradientType=0 );
}
.bx_compare.bx_green .bx_bt_button:hover{
	background:#a8d95b;
	background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod?iIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background:   -moz-linear-gradient(top, #a8d95b 0%, #7ab748 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#a8d95b), color-stop(100%,#7ab748));
	background:-webkit-linear-gradient(top, #a8d95b 0%,#7ab748 100%);
	background:     -o-linear-gradient(top, #a8d95b 0%,#7ab748 100%);
	background:    -ms-linear-gradient(top, #a8d95b 0%,#7ab748 100%);
	background:        linear-gradient(to bottom, #a8d95b 0%,#7ab748 100%);

	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a8d95b', endColorstr='#7ab748',GradientType=0 );
}
.bx_compare.bx_green .bx_bt_button:active{
	background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod?iIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background:   -moz-linear-gradient(top, #63aa28 0%, #6fb32d 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#63aa28), color-stop(100%,#6fb32d));
	background:-webkit-linear-gradient(top, #63aa28 0%,#6fb32d 100%);
	background:     -o-linear-gradient(top, #63aa28 0%,#6fb32d 100%);
	background:    -ms-linear-gradient(top, #63aa28 0%,#6fb32d 100%);
	background:        linear-gradient(to bottom, #63aa28 0%,#6fb32d 100%);
	box-shadow:none;

	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#63aa28', endColorstr='#6fb32d',GradientType=0 );
}
